---
# main.scss
---

@mixin transition($time) {
  -webkit-transition: all $time linear;
   -khtml-transition: all $time linear;
     -moz-transition: all $time linear;
      -ms-transition: all $time linear;
       -o-transition: all $time linear;
          transition: all $time linear;
}

body, p, a {
  margin: 0;
  color: white;
  font-family: monospace;
  font-size: 17px;
}

body {
  background-color: #DD6B74;
}

a {
  white-space: pre;
}

h1 {
  margin: 0px;
  padding: 20px 0px;
}

p {
  line-height: 1.8em;
  padding-bottom: 10px;
}

p:first-child {
  padding-top: 10px;
}

.block {
  @include transition(0.3s);
}

.block0 {
  background-color: #6496D8;
}

.block0:hover {
  background-color: #6091D1;
}

.block1 {
  background-color: #87C477;
}

.block1:hover {
  background-color: #81BC73;
}

.block2 {
  background-color: #E9CA6C;
}

.block2:hover {
  background-color: #E0C267;
}

.block3 {
  background-color: #DD6B74;
}

.block3:hover {
  background-color: #D66670;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
}

.container a {
  @include transition(0.2s);

  padding: 1px 6px 3px 6px;
  margin: 0px -3px;
  text-decoration: none;
  background-color: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.01);
  border-radius: 3px;
}

@media (max-device-width : 700px) {
  .container a {
    padding: 5px 6px 3px 6px;
  }
}

.container a:hover {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.05);
}

// blog
.post h2 {
  margin: 35px 0px 80px 0px;
}

.post h2 a {
  @include transition(0.2s);
  white-space: normal;
  font-size: 1em;
  text-decoration: none;
  padding: 2px 6px 5px 6px;
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0);
  border-radius: 3px;
}

.post h2 a:hover {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.05);
}

.date {
  padding: 0px;
  text-align: right;
}

img {
  max-width: 100%;
}
