---
projects:
  - title: serializer.io
    link: http://serializer.io
    comment: this is a comment about serializer
    image: /projects/serializer.png
  - title: Twitter Roundup
    link: http://twitterroundup.com
    comment: RSS feeds for groups of twitter users
    image: /projects/serializer.png
  - title: Twitter Roundup
    link: http://twitterroundup.com
    comment: RSS feeds for groups of twitter users
    image: /projects/serializer.png
  - title: Twitter Roundup
    link: http://twitterroundup.com
    comment: RSS feeds for groups of twitter users
    image: /projects/serializer.png
---
<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% content_for :page_subtitle do %>
  I like making things.
<% end %>

<%= partial "partials/_top_menu" %>

<%= partial("partials/item_cards",
            locals: { items: current_page.data.projects }) %>
