---
projects:
  - title: serializer.io
    link: https://github.com/charlieegan3/serializer
    comment: "'Linearizing' tracker for tech news"
    image: /projects/serializer.jpg

  - title: StandPoint
    link: https://github.com/charlieegan3/standpoint
    comment: Collection of tools and for analyzing online discussion
    image: /projects/standpoint.jpg

  - title: Twitter Roundup
    link: https://github.com/charlieegan3/twitter-roundup
    comment: Generate email updates and RSS feeds for groups of Twitter accounts
    image: /projects/twitter_roundup.jpg

  - title: Graph Match
    link: https://github.com/charlieegan3/graph_match
    comment: Rust library for matching subgraphs
    image: /projects/graph_match.jpg

  - title: Dotfiled
    link: https://github.com/charlieegan3/dotfiled
    comment: Simple app aggregating common dotfile settings
    image: /projects/dotfiled.jpg
---
<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% content_for :page_subtitle do %>
  I like making things.
<% end %>

<%= partial "partials/_top_menu" %>

<%= partial("partials/item_cards",
            locals: { items: current_page.data.projects }) %>
