<!DOCTYPE html>
<html>
	<head>
		<title>
			{{- block "title" . -}}
				{{- $.Site.Title -}}
			{{- end -}}
		</title>
		<meta name="Description" content="{{- block "description" . -}} {{- end -}} - {{- $.Site.Title -}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		{{ $cssFiles := slice }}
		{{ $cssFiles = $cssFiles | append (resources.Get "css/tachyons.css") }}
		{{ $cssFiles = $cssFiles | append (resources.Get "css/styles.css") }}
		{{ $cssFiles = $cssFiles | append (resources.Get "css/post.css") }}
		{{ $css := $cssFiles | resources.Concat "css/bundle.css" }}
		{{ if isset $.Site.Params "minify" }}
			{{ $css = $css | resources.Minify }}
		{{ end }}
		{{ $css = $css | resources.Fingerprint }}
		<link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" />

		{{ $jsFiles := slice }}
		{{ if isset $.Site.Params "turbolinks" }}
			{{ $jsFiles = $jsFiles | append (resources.Get "js/turbolinks.js") }}
		{{ end }}
		{{ $jsFiles = $jsFiles | append (resources.Get "js/hello.js") }}
		{{ $jsFiles = $jsFiles | append (resources.Get "js/live_feed.js") }}

		{{ $js := $jsFiles | resources.Concat "js/bundle.js" }}
		{{ if isset $.Site.Params "minify" }}
			{{ $js = $js | resources.Minify }}
		{{ end }}
		{{ $js = $js | resources.Fingerprint }}
		<script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
	</head>
	<body class="bg-darker-gray light-silver">
		<section class="{{- block "width" . -}}mw7{{- end }} center pa3 ph5-ns pb5">
			<div>
				<a href="/">home</a>
				<a href="/posts">posts</a>
				<a href="/profiles">profiles</a>
				<a href="/projects">projects</a>
			</div>
			{{- block "main" . -}}{{- end -}}
		</section>
	</body>
</html>
