---
talks:
  - title: Parkrun
    link: https://www.parkrun.org.uk/results/athleteresultshistory/?athleteNumber=358706
    comment: I run Parkrun every Saturday
    image: /running/parkrun.jpg
  - title: Highland Cross
    link: http://www.highlandcross.co.uk/Results.htm
    comment: 50 mile coast-to-coast - click for most recent failed PB attempt
    image: /running/hc.jpg
  - title: Strava
    link: https://www.strava.com/athletes/charlieegan3
    comment: I post my runs on Strava - more about my heart rate over here
    image: /running/strava.png
  - title: Loch Ness Marathon
    link: http://www.lochnessmarathon.com/results/1/2013/?epage=1&sort=Position&text-search=egan&filter=MOPEN
    comment: I made a huge mistake and completed a marathon for which I was more
      | than a little underprepared for - see face
    image: /running/marathon.jpg
---

<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% content_for :page_subtitle do %>
  I speak most days.
<% end %>

<%= partial "partials/_top_menu" %>

<%= partial("partials/item_cards",
            locals: { items: current_page.data.talks }) %>
