{{ define "title" }}
	{{- htmlUnescape .Params.title }} - {{ $.Site.Title -}}
{{ end }}

{{ define "description" }}
	{{ .Summary }}
{{ end }}

{{ define "main" }}
	<h1 class="moon-gray">{{ .Title | lower }}</h1>
	<div class="post-content">
		{{ .Content }}
	</div>
	{{ range $v := .Params.profiles }}
		<h2 class="f5">{{ index $v "name" }}</h2>
		{{ range $p := (index $v "list") }}
		<a target="_blank" href="{{ index $p "url" }}">
			<img class="w2 br2" src="{{ $.RelPermalink }}{{ index $p "icon" }}">
		</a>
		{{ end }}
	{{ end }}
{{ end }}
