.incomplete {
  display: none;
}

.entry {
  background-color: white;
  margin: 10px 0px;

  .entry-header {
    border: 1px solid #eee;
    border-bottom: none;
    padding: 5px 5px 10px 5px;

    h2 {
      font-size: 1.4em;
      margin: 2px 0px -2px 0px;

      @media (max-width: 400px) {
        font-size: 1.2em;
      }

      @media (max-width: 350px) {
        font-size: 1em;
      }
    }
  }

  .entry-body {
    font-size: 1em;
    border-radius: 2px;
    border: 1px solid LightGrey;
    padding: 10px;

    p:last-child {
      margin-bottom: 0px;
    }
  }

  &.index0 {
    @media (min-width: 990px) {
      .entry-header {
        text-align: right;
        border-top-right-radius: 3px;
        border-left: none;
      }

      .entry-body {
        text-align: right;
      }
    }
  }

  &.index1 {
    .entry-header {
      border-top-left-radius: 3px;
      border-right: none;
    }
  }

  &.status {
    max-width: 750px;
    margin: 0 auto;
  }

  @media (max-width: 990px) {
    &.index0, &.index1 {
      .entry-header {
        border: 1px solid #eee;
        border-bottom: none;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        margin-bottom: -1px;
      }
    }
  }
}
