.post {
  margin-bottom: 100px;

  h1 {
    font-size: 1.5em;
  }

  .post-header{
    font-size: 2em;

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .post-date {
    font-size: 0.9em;
    color: Grey;
  }

  h2 {
    font-size: 1.2em;
    color: #737373;
  }

  img {
    width: 100%;
  }

}
