@import "reset";

// Replaced with @import "used_tachyons_classes" on build
@import "tachyons";

@import "montserrat";

.display {
  font-family: "Montserrat", sans-serif;
}

.egan {
  color: #f2f2f2;
  text-shadow:
    -1px -1px 0 #ddd,
    1px -1px 0 #ddd,
    -1px 1px 0 #ddd,
    1px 1px 0 #ddd;
}

.justify {
  text-align: justify;
}
.h4-5 { height: 10rem; }

textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}
