@import "reset";

@import "tachyons";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');

.raleway {
  font-family: "Raleway", sans-serif;
}

.w05 {
  width: 0.5rem;
}
.h05 {
  height: 0.5rem;
}
.justify {
  text-align: justify;
}

textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}
