.live-block {
  background-color: white;
  margin-bottom: 15px;
  box-shadow: 0px 10px 10px white;
}

.live {
  a:hover {
    text-decoration: none;
  }

  p.meta {
    margin-top: 5px;
    color: DarkGrey;
    font-size: 0.9em;
    text-align: left;
  }

  .entry-body {
    padding-bottom: 5px;
  }
}

.instagram {
  img {
    width: 100%;
    border-radius: 3px;
    max-width: 350px;
  }
  .entry-body {
    text-align: center;
  }
}

.twitter {
  p.tweet {
    text-align: center;
    font-family: "Reenie Beanie", monospace;
    font-size: 1.7em;
  }
}

.github {
  p.commit {
    font-family: "VT323", monospace;
    font-size: 1.2em;
  }
}

.lastfm {
  p.track {
    margin-top: -3px;
    margin-bottom: 3px;
    font-size: 1em;
  }

  p.artist {
    font-size: 0.9em;
    font-weight: 300;
  }

  img {
   max-width: 100%;
   border-radius: 2px;
  }

  .col-xs-9 {
    padding-left: 5px;
  }

  .col-xs-3 {
    padding-right: 5px;
  }
}

.strava {
  p.distance-block {
    background-color: #007ef7;
    border: 2px solid #0064c4;
    color: white;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
  }

  span.distance {
    text-align: center;
    font-size: 2em;
  }

  p.name {
    margin-top: -3px;
    margin-bottom: 3px;
    font-size: 1em;
  }

  p.time {
    font-size: 0.9em;
    font-weight: 300;
  }

  .col-xs-9 {
    padding-left: 5px;
  }

  .col-xs-3 {
    padding-right: 5px;
  }
}
