@import "syntax_highlighting";

.post-content {
  h1, h2, h3, h4, h5 {
    //f4
    font-size: 1.25rem;
    //display
    font-family: "Montserrat", sans-serif;
    //mt3
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    //v-btm
    vertical-align: bottom;
  }

  p, li {
    text-align: justify;
    //mb2
    margin-bottom: .5rem;
    //lh-copy
    line-height: 1.5em;
    //dark-gray
    color: #333;
  }

  p a {
    //blue
    color: #357edd;
  }

  li {
    //mb0
    margin-bottom: 0rem;
  }
  ul, ol {
    //pl4
    padding-left: 2rem;
    //mb2
    margin-bottom: .5rem;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  pre {
    //bg-near-white
    background-color: #f4f4f4;
    //f7
    font-size: .75rem;
    //mb2
    margin-bottom: .5rem;
    //br
    border-left-style: solid;
    border-left-width: 1px;
    //bw4
    border-width: 1rem;
    //pl1
    padding-left: .25rem;
    //b--moon-gray
    border-color: #ccc;

    @media screen and (max-width: 30em) {
      //mw-100
      max-width: 100%;
      //overflow-scroll
      overflow: scroll;
    }
  }

  em {
    font-style: italic;
    text-justify: none;
  }

  hr {
    border: 0;
    height: 1px;
    //bg-moon-gray
    background-color: #ccc;
    //ml0
    margin-left: 0;
    //measure-wide
    max-width: 34em;
  }

  img {
    //ba
    border-style: solid;
    //bw2
    border-width: .25rem;
    //b--moon-gray
    border-color: #ccc;
    //mw-100
    max-width: 100%;

    box-sizing: border-box;
  }
}
