.profiles {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.social-icon {
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 2px;
  width: 30px;
  height: 30px;

  &:hover {
    border-color: LightGrey;
  }

  &.small {
    border: none;
    width: 20px;
    height: 20px;
    margin-left: -2px;
    margin-right: 2px;
    margin-top: -1px;
  }
}
