/* http://tobiasahlin.com/spinkit/ */

.spinner {
  margin: 100px auto;
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  height: 100%;
  width: 30px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 0.6s infinite ease-in-out;
  animation: sk-stretchdelay 0.6s infinite ease-in-out;
}

.spinner .rect1 {
  background-color: CornflowerBlue;
}

.spinner .rect2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
  background-color: SeaGreen;
  margin-left: 2px;
}

.spinner .rect3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
  background-color: Tomato;
  margin-left: 2px;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
  background-color: Orange;
  margin-left: 2px;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
  background-color: Gold;
  margin-left: 2px;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
