<form class="o-40" action="https://formspree.io/me@charlieegan3.com" method="POST">
  <textarea id="message" rows="4" class="br0 pa1 w-100 mb2 sans-serif input-reset ba bw2 b--mid-gray" type="text" name="message" placeholder="Message"></textarea>
  <input class="br0 pa1 w-100 mb2 input-reset ba bw2 b--mid-gray" type="email" name="_replyto" placeholder="Email">
  <input class="br0 raleway b pv2 w-100 mb2 input-reset ba bw2 b--mid-gray bg-near-white bg-animate hover-bg-light-gray pointer" type="submit" value="Send Email">
</form>

<%= partial "partials/profiles" %>
