<form class="o-40" action="https://formspree.io/me@charlieegan3.com" method="POST">
  <textarea id="message" rows="4" class="br0 pa1 w-100 mb2 sans-serif input-reset ba bw2 b--mid-gray" type="text" name="message" placeholder="Message"></textarea>
  <input class="br0 pa1 w-100 mb2 input-reset ba bw2 b--mid-gray" type="email" name="_replyto" placeholder="Email">
  <input class="br0 display b pv2 w-100 mb2 input-reset ba bw2 b--mid-gray bg-near-white bg-animate hover-bg-light-gray pointer" type="submit" value="Send Email">
</form>

<div class="tc">
  <div class="dib w2">
    <% link_to "https://github.com/charlieegan3" do %>
      <%= File.read("source/images/svg_logos/github.svg") %>
    <% end %>
  </div>
  <div class="dib w2">
    <% link_to "https://twitter.com/charlieegan3" do %>
      <%= File.read("source/images/svg_logos/twitter.svg") %>
    <% end %>
  </div>
  <div class="dib w2">
    <% link_to "https://instagram.com/charlieegan3" do %>
      <%= File.read("source/images/svg_logos/instagram.svg") %>
    <% end %>
  </div>
  <div class="dib w2 o-20">
    <% link_to "/profiles" do %>
      <%= File.read("source/images/svg_logos/more.svg") %>
    <% end %>
  </div>
</div>
