.container
  footer
    p.text-center.small Built with Middleman, Slim, Bootstrap Grid & Markdown and as much jQuery as was needed to make that classy fade in animation.

=partial('partials/image_row')
