<div class="container">
  <footer>
    <p class="text-center small">
      Built with Middleman, Slim, Bootstrap Grid & Markdown and as much jQuery
      as was needed to make that classy fade in animation.
    </p>
  </footer>
</div>

<%= partial('partials/image_row') %>
