.col-md-8.live
  .row
    .col-md-12
      .entry
        .entry-body
          =partial('partials/status')
          =partial('partials/profiles')
          p.text-center
            span.glyphicon.glyphicon-envelope
            |&nbsp;
            =link_to "me@charlieegan3.com", "mailto:me@charlieegan3.com"
            |&nbsp;&nbsp;
            span.glyphicon.glyphicon-map-marker
            |&nbsp;
            span#location-guess locating...
  .row
    .col-md-6.live
      .entry.twitter
        .entry-body
          =link_to '#', id: 'twitter-link' do
            p.tweet#twitter-content
          p.meta
            =link_to 'http://twitter.com/charlieegan3', target: "_blank"  do
              =image_tag 'twitter.jpg', class: 'social-icon small'
            span#twitter-meta
      .entry.lastfm
        .entry-body
          =link_to '#', id: 'lastfm-link' do
            .row
              .col-xs-3
                =image_tag 'https://upload.wikimedia.org/wikipedia/en/4/48/Blank.JPG', id: 'lastfm-image'
              .col-xs-9
                p.track#lastfm-track
                p.artist#lastfm-artist
          p.meta
            =link_to 'http://www.last.fm/user/charlieegan3', target: "_blank"  do
              =image_tag 'lastfm.jpg', class: 'social-icon small'
            span#lastfm-meta
      .entry.games
        .entry-body#games-box
    .col-md-6.live
      .entry.github
        .entry-body
          =link_to '#', id: 'github-link' do
            p.commit#github-message
          p.meta
            =link_to 'http://github.com/charlieegan3', target: "_blank" do
              =image_tag 'gh.jpg', class: 'social-icon small'
            span#github-meta
      .entry.strava
        .entry-body
          =link_to '#', id: 'strava-link' do
            .row
              .col-xs-4
                p.distance-block
                  span.distance#strava-distance
                  span km
              .col-xs-8
                p.name#strava-name
                p.time#strava-duration
          p.meta
            =link_to 'https://www.strava.com/athletes/charlieegan3' do
              =image_tag 'strava.jpg', class: 'social-icon small'
            span#strava-meta
      .entry.parkrun
        .entry-body
          p
            span#parkrun-time
            span#at at&nbsp;
            =link_to '#', id: 'parkrun-link' do
          p.meta
            =link_to 'http://www.parkrun.org.uk/results/athleteresultshistory/?athleteNumber=358706', target: "_blank" do
              =image_tag 'parkrun.jpg', class: 'social-icon small'
            span#parkrun-ago
      .entry.hacker-news
        .entry-body
          p
            =link_to '#', id: 'hackernews-comments-link' do
            =link_to '#', id: 'hackernews-external-link' do
              span.glyphicon.glyphicon-new-window
          p.meta
            =link_to 'https://news.ycombinator.com/user?id=charlieegan3', target: "_blank" do
              =image_tag 'hn.jpg', class: 'social-icon small'
            span#hackernews-ago

.col-md-4.live
  .entry.instagram
    .entry-body
      =link_to '#', id: 'instagram-link' do
        =image_tag 'https://upload.wikimedia.org/wikipedia/en/4/48/Blank.JPG', id: 'instagram-image'
      p.meta
        =link_to 'http://instagram.com/charlieegan3', target: "_blank"  do
          =image_tag 'insta.jpg', class: 'social-icon small'
        span#instagram-meta

