<div class="cf">
  <div class="fl w-100 w-50-ns">
    <div class="cf raleway">
      <div class="fl w-100 w-50-ns ph2 pv1 pv2-ns">
        <div class="pv3 pv4-ns tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
          Work
        </div>
      </div>
      <div class="fl w-100 w-50-ns ph2 pv1 pv2-ns">
        <div class="pv3 pv4-ns tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
          Projects
        </div>
      </div>
      <div class="fl w-100 w-50-ns ph2 pv1 pv2-ns">
        <div class="pv3 pv4-ns tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
          Speaking
        </div>
      </div>
      <div class="fl w-100 w-50-ns ph2 pv1 pv2-ns">
        <div class="pv3 pv4-ns tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
          Words
        </div>
      </div>
      <div class="fl w-100 w-50-ns ph2 pv1 pv2-ns">
        <div class="pv3 pv4-ns tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
          Running
        </div>
      </div>
    </div>
  </div>
</div>
