<ol class="list">
  <% posts.each_with_index do |post, index| %>
  <li class="<%= index == 0 ? "" : "mt2" %>">
      <div>
        <% if post.data["external_url"] %>
          <%= link_to post.title, post.data["external_url"] %>
        <% else %>
          <%= link_to post.title, "/#{post.path}" %>
        <% end %>
      </div>
      <div class="f6 mt1">
        <span class="gray"><%= ordinalized_date(post.date, show_year) %></span>
        <% if post.data["external_url"] %>
          <span>External</span>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>
