p.profiles
  =link_to 'http://github.com/charlieegan3', target: "_blank" do
    =image_tag 'gh.jpg', class: 'social-icon'
  =link_to 'http://twitter.com/charlieegan3', target: "_blank"  do
    =image_tag 'twitter.jpg', class: 'social-icon'
  =link_to 'http://instagram.com/charlieegan3', target: "_blank"  do
    =image_tag 'insta.jpg', class: 'social-icon'
  =link_to 'http://stackoverflow.com/users/1510063/charlie-egan', target: "_blank"  do
    =image_tag 'so.jpg', class: 'social-icon'
  =link_to 'http://www.stopusinglinkedin.com/', target: "_blank"  do
    =image_tag 'notlinked.jpg', class: 'social-icon'
  =link_to 'http://www.last.fm/user/charlieegan3', target: "_blank"  do
    =image_tag 'lastfm.jpg', class: 'social-icon'
  =link_to 'http://www.parkrun.org.uk/results/athleteresultshistory/?athleteNumber=358706', target: "_blank"  do
    =image_tag 'parkrun.jpg', class: 'social-icon'
  =link_to 'https://www.strava.com/athletes/charlieegan3' do
    =image_tag 'strava.jpg', class: 'social-icon'
  =link_to 'http://www.producthunt.com/charlieegan3', target: "_blank"  do
    =image_tag 'ph.jpg', class: 'social-icon'
  =link_to 'http://forums.macrumors.com/members/charlieegan3.669532/', target: "_blank" do
    =image_tag 'macrumors.jpg', class: 'social-icon'
  =link_to 'http://steamcommunity.com/id/charlieegan3', target: "_blank" do
    =image_tag 'steam.jpg', class: 'social-icon'
  =link_to 'https://halo.bungie.net/stats/reach/default.aspx?player=tartan%20turtle', target: "_blank" do
    =image_tag 'bungie.jpg', class: 'social-icon'
