<div class="tc">
  <a class="no-underline" href="http://github.com/charlieegan3" target="_blank">
    <img src="https://charlieegan3.com/images/gh-8ea6733b.jpg" class="w1 br2 link no-underline" alt="Gh">
  </a>
  <a class="no-underline" href="http://twitter.com/charlieegan3" target="_blank">
    <img src="https://charlieegan3.com/images/twitter-69443cfe.jpg" class="w1 br2 link no-underline" alt="Twitter">
  </a>
  <a class="no-underline" href="http://instagram.com/charlieegan3" target="_blank">
    <img src="https://charlieegan3.com/images/instagram-d339dea4.png" class="w1 br2 link no-underline" alt="Instagram">
  </a>
  <a class="no-underline" href="https://news.ycombinator.com/user?id=charlieegan3">
    <img src="https://charlieegan3.com/images/hn-da227315.jpg" class="w1 br2 link no-underline" alt="Hn">
  </a>
  <a class="no-underline" href="https://keybase.io/charlieegan3" target="_blank">
    <img src="https://charlieegan3.com/images/keybase-8aefb194.png" class="w1 br2 link no-underline-icon" alt="Keybase">
  </a>
  <a class="no-underline" href="https://monzo.me/charlieegan" target="_blank">
    <img src="https://charlieegan3.com/images/monzo-dac84a2e.png" class="w1 br2 link no-underline-icon" alt="Monzo">
  </a>
  <a class="no-underline" href="http://www.last.fm/user/charlieegan3" target="_blank">
    <img src="https://charlieegan3.com/images/lastfm-6f57c6b9.jpg" class="w1 br2 link no-underline-icon" alt="Lastfm">
  </a>
  <a class="no-underline" href="http://stackoverflow.com/users/1510063/charlie-egan" target="_blank">
    <img src="https://charlieegan3.com/images/so-3cbb8fb8.jpg" class="w1 br2 link no-underline-icon" alt="So">
  </a>
  <a class="no-underline" href="https://news.ycombinator.com/item?id=9046286" target="_blank">
    <img src="https://charlieegan3.com/images/notlinked-78c93e5f.jpg" class="w1 br2 link no-underline-icon" alt="Notlinked">
  </a>
  <a class="no-underline" href="https://letterboxd.com/charlieegan3" target="_blank">
    <img src="https://charlieegan3.com/images/letterboxd-d330f953.png" class="w1 br2 link no-underline-icon" alt="Letterboxd">
  </a>
  <a class="no-underline" href="http://www.parkrun.org.uk/results/athleteresultshistory/?athleteNumber=358706" target="_blank">
    <img src="https://charlieegan3.com/images/parkrun-ba93cbb5.jpg" class="w1 br2 link no-underline-icon" alt="Parkrun">
  </a>
  <a class="no-underline" href="https://www.strava.com/athletes/charlieegan3">
    <img src="https://charlieegan3.com/images/strava-23d2db2d.jpg" class="w1 br2 link no-underline-icon" alt="Strava">
  </a>
  <a class="no-underline" href="http://forums.macrumors.com/members/charlieegan3.669532/" target="_blank">
    <img src="https://charlieegan3.com/images/macrumors-43bcf0e6.jpg" class="w1 br2 link no-underline-icon" alt="Macrumors">
  </a>
  <a class="no-underline" href="http://www.producthunt.com/charlieegan3" target="_blank">
    <img src="https://charlieegan3.com/images/ph-606bf5f6.jpg" class="w1 br2 link no-underline-icon" alt="Ph">
  </a>
  <a class="no-underline" href="https://open.kattis.com/users/charlie" target="_blank">
    <img src="https://charlieegan3.com/images/kattis-c655bcf3.jpg" class="w1 br2 link no-underline-icon" alt="Kattis">
  </a>
  <a class="no-underline" href="https://scholar.google.co.uk/citations?user=pqb-ZNAAAAAJ&amp;hl=en" target="_blank">
    <img src="https://charlieegan3.com/images/scholar-0989c58e.png" class="w1 br2 link no-underline-icon" alt="Scholar">
  </a>
  <a class="no-underline" href="http://steamcommunity.com/id/charlieegan3" target="_blank">
    <img src="https://charlieegan3.com/images/steam-a193704e.png" class="w1 br2 link no-underline-icon" alt="Steam">
  </a>
  <a class="no-underline" href="http://eu.battle.net/sc2/en/profile/5512289/1/TartanTurtle/" target="_blank">
    <img src="https://charlieegan3.com/images/sc2-977675e4.png" class="w1 br2 link no-underline-icon" alt="Sc2">
  </a>
  <a class="no-underline" href="https://my.playstation.com/TartanTurtle" target="_blank">
    <img src="https://charlieegan3.com/images/ps-d558719b.png" class="w1 br2 link no-underline-icon" alt="Ps">
  </a>
  <a class="no-underline" href="https://halo.bungie.net/stats/reach/default.aspx?player=tartan%20turtle" target="_blank">
    <img src="https://charlieegan3.com/images/bungie-bcd9d637.jpg" class="w1 br2 link no-underline-icon" alt="Bungie">
  </a>
  <a class="dn" href="https://charlieegan3.com/feed.rss" target="_blank">
    RSS
  </a>
</div>
