<p class="profiles">
  <a href="http://github.com/charlieegan3" target="_blank">
    <img src="/images/gh.jpg" class="social-icon" alt="Gh">
  </a>
  <a href="http://twitter.com/charlieegan3" target="_blank">
    <img src="/images/twitter.jpg" class="social-icon" alt="Twitter">
  </a>
  <a href="http://instagram.com/charlieegan3" target="_blank">
    <img src="/images/insta.jpg" class="social-icon" alt="Insta">
  </a>
  <a href="http://stackoverflow.com/users/1510063/charlie-egan" target="_blank">
    <img src="/images/so.jpg" class="social-icon" alt="So">
  </a>
  <a href="https://news.ycombinator.com/item?id=9045677" target="_blank">
    <img src="/images/notlinked.jpg" class="social-icon" alt="Notlinked">
  </a>
  <a href="http://www.last.fm/user/charlieegan3" target="_blank">
    <img src="/images/lastfm.jpg" class="social-icon" alt="Lastfm">
  </a>
  <a href="https://letterboxd.com/charlieegan3" target="_blank">
    <img src="/images/letterboxd.png" class="social-icon" alt="Letterboxd">
  </a>
  <a href="http://www.parkrun.org.uk/results/athleteresultshistory/?athleteNumber=358706" target="_blank">
    <img src="/images/parkrun.jpg" class="social-icon" alt="Parkrun">
  </a>
  <a href="https://www.strava.com/athletes/charlieegan3">
    <img src="/images/strava.jpg" class="social-icon" alt="Strava">
  </a>
  <a href="https://news.ycombinator.com/user?id=charlieegan3">
    <img src="/images/hn.jpg" class="social-icon" alt="Hn">
  </a>
  <a href="http://forums.macrumors.com/members/charlieegan3.669532/" target="_blank">
    <img src="/images/macrumors.jpg" class="social-icon" alt="Macrumors">
  </a>
  <a href="http://www.producthunt.com/charlieegan3" target="_blank">
    <img src="/images/ph.jpg" class="social-icon" alt="Ph">
  </a>
  <a href="https://open.kattis.com/users/charlie" target="_blank">
    <img src="/images/kattis.jpg" class="social-icon" alt="Kattis">
  </a>
  <a href="https://scholar.google.co.uk/citations?user=pqb-ZNAAAAAJ&hl=en" target="_blank">
    <img src="/images/scholar.png" class="social-icon" alt="Scholar">
  </a>
  <a href="http://steamcommunity.com/id/charlieegan3" target="_blank">
    <img src="/images/steam.png" class="social-icon" alt="Steam">
  </a>
  <a href="http://eu.battle.net/sc2/en/profile/5512289/1/TartanTurtle/" target="_blank">
    <img src="/images/sc2.png" class="social-icon" alt="Sc2">
  </a>
  <a href="https://my.playstation.com/TartanTurtle" target="_blank">
    <img src="/images/ps.png" class="social-icon" alt="Ps">
  </a>
  <a href="https://halo.bungie.net/stats/reach/default.aspx?player=tartan%20turtle" target="_blank">
    <img src="/images/bungie.jpg" class="social-icon" alt="Bungie">
  </a>

  <a href="https://charlieegan3.com/feed.rss" target="_blank" style="display: none;">
    RSS
  </a>
</p>
