<p class="text-center">
  Currently working on an electric vehicle project with Unboxed. Trying to read
  "Types and Programming Languages" with the Computation Club; still teaching
  at Codebar when I have the energy. Current side project topics: Rust, Arch,
  Kubernetes and GCP.
</p>
