p.text-center
  |I've recently completed my final university term. I'm still working on the tool from my final project as well as trying to get back into playing some video games and running longer distances. I'm also reading a little about functional programming and taking lots of photos in places more aesthetically pleasing than Aberdeen.
