<p class="text-center">
  Currently working on an electric vehicle charging infrastructure project with
  Unboxed. Current side project topics include: Rust, Arch, Kubernetes &amp;
  GCP, and reading "Types and Programming Languages".
</p>
