.text-center
  |I've recently completed the first semester of my final year, along with what was hopefully my last ever exam! With no imminent events, my current running goal is to just get out when I can. I'm currently trying to pick up Go and basic ops skills on the side.
