p.text-center
  |I've recently graduated from university and completed my 5th Highland Cross. I'm currently doing a little extra work on my honours project as well as some other neglected side projects.
