<div class="fl raleway mb1 w-100">
  <% %w(work projects speaking words).each do |menu_item| %>
    <div class="fl w4">
      <% link_to "/#{menu_item}" do %>
        <div class="pa1 mb1 mr1 tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
          <%= menu_item.capitalize %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
