<% selected ||= -1 %>
<% highlight ||= "mid-gray"  %>

<div class="cf display mb1 w-100 w-50-l mh1-ns">
  <% %w(work projects speaking words).each_with_index do |menu_item, index| %>
    <div class="fl w-50 w-25-ns">
      <% if index == selected %>
        <div class="pa1 mb1 mr1 tc ba bw2 bw2-ns bt-ns bl-0-ns br-0-ns bb-0-ns b--<%= highlight %>">
          <%= menu_item.capitalize %>
        </div>
      <% else %>
        <% link_to "/#{menu_item}" do %>
          <div class="pa1 mb1 mr1 tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
            <%= menu_item.capitalize %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
