<div class="cf raleway mw6 mb1">
  <div class="fl w-20-ns">
    <div class="pa1 mb1 mr1 tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
      Work
    </div>
  </div>
  <div class="fl w-20-ns">
    <div class="pa1 mb1 mr1 tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
      Projects
    </div>
  </div>
  <div class="fl w-20-ns">
    <div class="pa1 mb1 mr1 tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
      Speaking
    </div>
  </div>
  <div class="fl w-20-ns">
    <div class="pa1 mb1 mr1 tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
      Words
    </div>
  </div>
  <div class="fl w-20-ns">
    <div class="pa1 mb1 tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
      Running
    </div>
  </div>
</div>

