<div class="cf raleway mw6 mb1">
  <% %w(work projects speaking teaching words running).each do |menu_item| %>
    <div class="fl w-20-ns">
      <% link_to "/#{menu_item}" do %>
        <div class="pa1 mb1 mr1 tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
          <%= menu_item.capitalize %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

