{{define "title"}}{{ .section.Name }}{{end}}
{{define "page_title"}}{{.section.Name }}{{end}}
{{define "description"}}
List of pages for the {{.section.Name }} section
{{end}}
{{define "content"}}


{{ range $page := .pages }}
<div>
    {{ if ne $page.ExternalURL "" }}
    <h2 class="mb2 f4 f3-ns">
        <a href="{{ $page.ExternalURL }}" rel="noopener noreferrer nofollow" target="_blank">{{ $page.Title }}</a>
        <a href="{{ $page.ExternalURL }}" rel="noopener noreferrer nofollow" target="_blank">
            <img class="external-link" src="/static/icons/external.png"/>
        </a>
    </h2>
    {{ else }}
    <h2 class="mb2 f4 f3-ns">
        <a href="/{{ $.section.Slug }}/{{ $page.Slug }}">{{ $page.Title }}</a>
    </h2>
    {{ end }}
    <p class="mt0">
        {{ if ne $page.PublishedAt.Year 0001 }}
            <strong>{{ $page.PublishedAt.Format "January 2, 2006" }}</strong>
        {{ end }}
        {{ if ne $page.ExternalURL "" }}
          <strong class="muted">(External Post)</strong>
          {{ blurb $page.Content 25 }}
        {{ else }}
        {{ blurb $page.Content 25 }}
        {{ end }}
    </p>
</div>
{{ end }}

{{ if eq .section.Slug "posts" }}
<p class="tc">
{{ if .include_external }}
    <a href="/posts">Hide posts from employer blogs</a>
{{ else }}
    <a href="/posts/?include_external=true">Include posts from employer blogs</a>
{{ end }}
</p>
{{ end }}

<div class="mt3 flex justify-between">
    {{ if .prevPage }}
    <a href="/{{ .section.Slug }}/?page={{ .prevPage }}">Page {{ .prevPage }}</a>
    {{else}}
    <span></span>
    {{end}}

    <a rel="noopener noreferrer nofollow" target="_blank" href="/{{ .section.Slug }}.rss">RSS</a>

    {{ if .nextPage }}
    <a href="/{{ .section.Slug }}/?page={{ .nextPage }}">Page {{ .nextPage }}</a>
    {{else}}
    <span></span>
    {{end}}
</div>

{{end}}
