{{define "title"}}{{ .section.Name }}{{end}}
{{define "page_title"}}{{.section.Name }}{{end}}
{{define "description"}}
List of pages for the {{.section.Name }} section
{{end}}
{{define "content"}}

{{ range $page := .pages }}
<div>
    <h2 class="mb2 f4 f3-ns">
        <a href="/{{ $.section.Slug }}/{{ $page.Slug }}">{{ $page.Title }}</a>
    </h2>
    <p class="mt0">
        {{ blurb $page.Content 25 }}
    </p>
</div>
{{ end }}

<div class="mt3 flex justify-between">
    {{ if .prevPage }}
    <a href="/{{ .section.Slug }}/?page={{ .prevPage }}">Prev</a>
    {{else}}
    <span></span>
    {{end}}

    {{ if .nextPage }}
    <a href="/{{ .section.Slug }}/?page={{ .nextPage }}">Next</a>
    {{else}}
    <span></span>
    {{end}}
</div>

{{end}}
