---
talks:
  - title: Development Rebundling in Dockerland - LRUG
    link: https://skillsmatter.com/skillscasts/9120-development-re-bundling-in-dockerland
    comment: First meetup talk where I talk about a means of making repeated bundle installations in container builds less painful
    image: /speaking/talking.png
  - title: Development Rebundling in Dockerland - v2
    link: http://northernlightsconf.co.uk/
    comment: I gave a brushed up version of the Bundler talk at the 2016 Northern Lights Conference in Aberdeen
    image: /speaking/nl.jpg
  - title: Heroku Treasure Hunt - Unboxed FTL
    link: /blog/2017/01/12/heroku-treasure.html
    comment: Super short talk about some things I found out using BigQuery
    image: /speaking/ftl.png
---

<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% content_for :page_subtitle do %>
  I speak most days.
<% end %>

<%= partial "partials/_top_menu" %>

<%= partial("partials/item_cards",
            locals: { items: current_page.data.talks }) %>
