---
talks:
  - title: Development Rebundling in Dockerland
    link: http://skilsmatter.com
    comment: this is a comment about the talk
    image: /speaking/talking.png
  - title: Northern Lights Docker Bundle Cache
    link: http://blah.com
    comment: more talking in the north this time
    image: /speaking/nl.jpg
  - title: FTL
    link: http://ftl.com
    comment: what you can do with big query and github
    image: /speaking/ftl.png
---

<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% content_for :page_subtitle do %>
  I speak most days.
<% end %>

<%= partial "partials/_top_menu" %>

<%= partial("partials/item_cards",
            locals: { items: current_page.data.talks }) %>
