---
highlight: pink

talks:
  - title: Development Rebundling in Dockerland - LRUG
    link: https://skillsmatter.com/skillscasts/9120-development-re-bundling-in-dockerland
    comment: First meetup talk where I talk about a means of making repeated bundle installations in container builds less painful
    image: /speaking/lrug.jpg
  - title: Development Rebundling in Dockerland - v2
    link: http://northernlightsconf.co.uk/
    comment: I gave a brushed up version of the Bundler talk at the 2016 Northern Lights Conference in Aberdeen
    image: /speaking/nl.jpg
  - title: Heroku Treasure Hunt - Unboxed FTL
    link: /blog/2017/01/12/heroku-treasure.html
    comment: Super short talk about some things I found out using BigQuery
    image: /speaking/ftl.jpg

teachings:
  - title: codebar
    link: http://codebar.io
    comment: I've been to around 40 Codebar workshops where I tend to teach Ruby
    image: /speaking/codebar.jpg
  - title: WWC
    link: https://www.womenwhocode.com/
    comment: I have taught at a smaller number of WWC Ruby workshops
    image: /speaking/wwc.jpg
  - title: Teaching Assistant at UoA
    link: https://www.abdn.ac.uk/registry/courses/undergraduate/2017/computing_science/cs2012
    comment: I taught on the second-year, web application development course for three terms - we covered basic Ruby, Rails and Postgres
    image: /speaking/aberdeen.jpg
  - title: Code First
    link: http://www.codefirstgirls.org.uk
    comment: I taught a six week intro to HTML, CSS & JS course during my final term at Aberdeen
    image: /speaking/cfg.jpg
  - title: CoderDojo
    link: https://zen.coderdojo.com/dojo/gb/university-of-aberdeen-computing-science-meston-building-room-3-11-aberdeen-ab-2-4-3ue/aberdeen
    comment: I tutored school students at the Coderdojo after school club series
    image: /speaking/coderdojo.jpg

subtitle: I talk to others most days.

title: charlieegan3 - speaking
---
<%= partial "partials/_top_menu", locals: { selected: 2, highlight: current_page.data.highlight } %>

<h2 class="f3 display b mh1-ns mb1">Talks</h2>
<%= partial("partials/item_cards",
            locals: { items: current_page.data.talks }) %>

<h2 class="f3 display b mh1-ns mb1">Teaching</h2>
<%= partial("partials/item_list",
            locals: { items: current_page.data.teachings }) %>
