{{define "title"}}Search{{end}}
{{define "page_title"}}
<span class="display f0">Search</span>
{{end}}
{{define "description" -}}
Page to search for content on charlieegan3.com
{{- end}}

{{define "content"}}
<form method="get" action="/search">
    <div class="mw6 center">
        <input class="pa3 w-100 mb3 mw6 db input-reset ba b--silver" type="text" name="q" placeholder="Things you are looking for..." value="">
        <input class="b pv2 w-100 center db mw4 input-reset ba bw1 b--dark-green pointer bg-green white"
               type="submit" value="search">
    </div>
</form>
{{end}}