/* fonts */
@font-face {
    font-family: "Big Caslon";
    src: local("Big Caslon"), url("/static/fonts/big-calson.woff");
}


/* base styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
    color: dodgerblue;
}
a:visited {
    color: DarkSlateBlue;
}

a.anchor {
    text-decoration: none;
    color: #555555;
}

img.external-link {
    display: inline;
    width: 20px;
    vertical-align: bottom;
    margin-bottom: 3px;
}

:target {
    background-color: rgba(255, 255, 0, 0.2);
}

:target .anchor {
    display: none;
}

ul, ol {
    padding-left: 1.5rem;
}

/* header styles */
h1, h2, h3, h4, h5, h6 {
    font-family: Big Caslon, Bodoni, Bookman Old Style, Goudy Old Style, Georgia, serif;
}

/* helper classes */
.muted {
    color: #777777;
}
.highlight {
    background-color: rgba(255, 255, 0, 0.2);
}

/* md styles */
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    vertical-align: bottom;
}

.page-content h1 {
    font-size: 1.5rem;
}

.page-content h2 {
    font-size: 1.3rem;
}

.page-content h3 {
    font-size: 1.1rem;
}

.page-content h4 {
    font-size: 1rem;
}

.page-content h5 {
    font-size: 1rem;
}

.page-content p,
.page-content li {
    text-align: justify;
    margin-bottom: 0.7rem;
    line-height: 1.5em;
    font-size: 1rem;
}

.page-content p code, .page-content ul code {
    font-size: 1rem;
    padding: 1px 3px;
}

.page-content ul, .page-content ol {
    margin-bottom: 0.5rem;
}

.page-content ol {
    list-style-type: decimal;
}

.page-content li {
    margin-bottom: 0.3rem;
}

.page-content li img {
    margin-top: 0.5rem;
    width: 100%;
}

.page-content.listicle li {
    margin-bottom: 2rem;
}

.page-content li ul {
    padding-left: 1.5rem;
}

.page-content li p:first-child {
    display: inline;
}

.page-content pre {
    border-left-style: solid;
    border-left-width: 20px;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    padding: 1rem 0.25rem;
}

@media screen and (max-width: 30em) {
    .page-content h1,
    .page-content h2,
    .page-content h3,
    .page-content h4,
    .page-content h5 {
        font-size: 1.1rem;
    }

    .page-content p,
    .page-content li,
    .page-content li code {
        font-size: 0.9rem;
    }
}

.page-content em {
    font-style: italic;
    text-justify: none;
}

.page-content img + em {
    vertical-align: top;
    font-size: 0.75rem;
}

.page-content hr {
    border: 0;
    height: 1px;
    margin-left: 0;
    max-width: 100%;
}

.page-content img {
    border-style: solid;
    border-width: 1px;
    max-width: 100%;
    box-sizing: border-box;
    /* this is needed for inline images in li tags, other images are in p tags from md processor */
    display: block;
}

.page-content blockquote {
    font-size: 0.9em;
    font-style: italic;
    padding-left: 2rem;
}

.page-content table {
    width: 100%;
    font-size: 0.8rem;
    border-collapse: collapse;
}

.page-content th:first-child {
    border-left: none;
}

.page-content td {
    border: 1px solid;
}

.page-content td,
.page-content th {
    padding: 0.3rem;
}

.page-content pre.chroma {
    border: 1px solid #444444;
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
}

/* light & dark mode handling */
@media (prefers-color-scheme: light) {
    body {
        background-color: #fafafa;
        color: #222222;
    }

    :target, .highlight {
        background-color: rgba(255, 255, 0, 0.5);
    }

    pre.chroma {
        border: 1px solid #cccccc;
    }

    .light-mode {
        display: block;
    }

    .dark-mode {
        display: none;
    }

    a.anchor {
        color: #aaaaaa;
    }

    /* Background */
    .bg {
        color: #272822;
        background-color: #fafafa;
        -moz-tab-size: 2;
        -o-tab-size: 2;
        tab-size: 2;
    }

    /* PreWrapper */
    .chroma {
        color: #272822;
        background-color: #fafafa;
        -moz-tab-size: 2;
        -o-tab-size: 2;
        tab-size: 2;
        white-space: pre-wrap;
        word-break: break-word;
    }

    /* Error */
    .chroma .err {
        color: #960050;
        background-color: #1e0010
    }

    /* LineLink */
    .chroma .lnlinks {
        outline: none;
        text-decoration: none;
        color: inherit
    }

    /* LineTableTD */
    .chroma .lntd {
        vertical-align: top;
        padding: 0;
        margin: 0;
        border: 0;
    }

    /* LineTable */
    .chroma .lntable {
        border-spacing: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }

    /* LineHighlight */
    .chroma .hl {
        background-color: #e1e1e1
    }

    /* LineNumbersTable */
    .chroma .lnt {
        white-space: pre;
        -webkit-user-select: none;
        user-select: none;
        margin-right: 0.4em;
        padding: 0 0.4em 0 0.4em;
        color: #7f7f7f
    }

    /* LineNumbers */
    .chroma .ln {
        white-space: pre;
        -webkit-user-select: none;
        user-select: none;
        margin-right: 0.4em;
        padding: 0 0.4em 0 0.4em;
        color: #7f7f7f
    }

    /* Line */
    .chroma .line {
        display: flex;
    }

    /* Keyword */
    .chroma .k {
        color: #00a8c8
    }

    /* KeywordConstant */
    .chroma .kc {
        color: #00a8c8
    }

    /* KeywordDeclaration */
    .chroma .kd {
        color: #00a8c8
    }

    /* KeywordNamespace */
    .chroma .kn {
        color: #f92672
    }

    /* KeywordPseudo */
    .chroma .kp {
        color: #00a8c8
    }

    /* KeywordReserved */
    .chroma .kr {
        color: #00a8c8
    }

    /* KeywordType */
    .chroma .kt {
        color: #00a8c8
    }

    /* Name */
    .chroma .n {
        color: #111111
    }

    /* NameAttribute */
    .chroma .na {
        color: #75af00
    }

    /* NameBuiltin */
    .chroma .nb {
        color: #111111
    }

    /* NameBuiltinPseudo */
    .chroma .bp {
        color: #111111
    }

    /* NameClass */
    .chroma .nc {
        color: #75af00
    }

    /* NameConstant */
    .chroma .no {
        color: #00a8c8
    }

    /* NameDecorator */
    .chroma .nd {
        color: #75af00
    }

    /* NameEntity */
    .chroma .ni {
        color: #111111
    }

    /* NameException */
    .chroma .ne {
        color: #75af00
    }

    /* NameFunction */
    .chroma .nf {
        color: #75af00
    }

    /* NameFunctionMagic */
    .chroma .fm {
        color: #111111
    }

    /* NameLabel */
    .chroma .nl {
        color: #111111
    }

    /* NameNamespace */
    .chroma .nn {
        color: #111111
    }

    /* NameOther */
    .chroma .nx {
        color: #75af00
    }

    /* NameProperty */
    .chroma .py {
        color: #111111
    }

    /* NameTag */
    .chroma .nt {
        color: #f92672
    }

    /* NameVariable */
    .chroma .nv {
        color: #111111
    }

    /* NameVariableClass */
    .chroma .vc {
        color: #111111
    }

    /* NameVariableGlobal */
    .chroma .vg {
        color: #111111
    }

    /* NameVariableInstance */
    .chroma .vi {
        color: #111111
    }

    /* NameVariableMagic */
    .chroma .vm {
        color: #111111
    }

    /* Literal */
    .chroma .l {
        color: #ae81ff
    }

    /* LiteralDate */
    .chroma .ld {
        color: #d88200
    }

    /* LiteralString */
    .chroma .s {
        color: #d88200
    }

    /* LiteralStringAffix */
    .chroma .sa {
        color: #d88200
    }

    /* LiteralStringBacktick */
    .chroma .sb {
        color: #d88200
    }

    /* LiteralStringChar */
    .chroma .sc {
        color: #d88200
    }

    /* LiteralStringDelimiter */
    .chroma .dl {
        color: #d88200
    }

    /* LiteralStringDoc */
    .chroma .sd {
        color: #d88200
    }

    /* LiteralStringDouble */
    .chroma .s2 {
        color: #d88200
    }

    /* LiteralStringEscape */
    .chroma .se {
        color: #8045ff
    }

    /* LiteralStringHeredoc */
    .chroma .sh {
        color: #d88200
    }

    /* LiteralStringInterpol */
    .chroma .si {
        color: #d88200
    }

    /* LiteralStringOther */
    .chroma .sx {
        color: #d88200
    }

    /* LiteralStringRegex */
    .chroma .sr {
        color: #d88200
    }

    /* LiteralStringSingle */
    .chroma .s1 {
        color: #d88200
    }

    /* LiteralStringSymbol */
    .chroma .ss {
        color: #d88200
    }

    /* LiteralNumber */
    .chroma .m {
        color: #ae81ff
    }

    /* LiteralNumberBin */
    .chroma .mb {
        color: #ae81ff
    }

    /* LiteralNumberFloat */
    .chroma .mf {
        color: #ae81ff
    }

    /* LiteralNumberHex */
    .chroma .mh {
        color: #ae81ff
    }

    /* LiteralNumberInteger */
    .chroma .mi {
        color: #ae81ff
    }

    /* LiteralNumberIntegerLong */
    .chroma .il {
        color: #ae81ff
    }

    /* LiteralNumberOct */
    .chroma .mo {
        color: #ae81ff
    }

    /* Operator */
    .chroma .o {
        color: #f92672
    }

    /* OperatorWord */
    .chroma .ow {
        color: #f92672
    }

    /* Punctuation */
    .chroma .p {
        color: #111111
    }

    /* Comment */
    .chroma .c {
        color: #75715e
    }

    /* CommentHashbang */
    .chroma .ch {
        color: #75715e
    }

    /* CommentMultiline */
    .chroma .cm {
        color: #75715e
    }

    /* CommentSingle */
    .chroma .c1 {
        color: #75715e
    }

    /* CommentSpecial */
    .chroma .cs {
        color: #75715e
    }

    /* CommentPreproc */
    .chroma .cp {
        color: #75715e
    }

    /* CommentPreprocFile */
    .chroma .cpf {
        color: #75715e
    }

    /* GenericEmph */
    .chroma .ge {
        font-style: italic
    }

    /* GenericStrong */
    .chroma .gs {
        font-weight: bold
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #272822;
        color: #eeeeee;
    }

    .light-mode {
        display: none;
    }

    .dark-mode {
        display: block;
    }

    input[type="email"], textarea {
        background-color: #272822;
        color: #eeeeee;
    }

    /* Background */
    .bg {
        color: #f8f8f2;
        background-color: #272822;
        -moz-tab-size: 2;
        -o-tab-size: 2;
        tab-size: 2;
    }

    /* PreWrapper */
    .chroma {
        color: #f8f8f2;
        background-color: #272822;
        -moz-tab-size: 2;
        -o-tab-size: 2;
        tab-size: 2;
        white-space: pre-wrap;
        word-break: break-word;
    }

    /* Error */
    .chroma .err {
        color: #960050;
        background-color: #1e0010
    }

    /* LineLink */
    .chroma .lnlinks {
        outline: none;
        text-decoration: none;
        color: inherit
    }

    /* LineTableTD */
    .chroma .lntd {
        vertical-align: top;
        padding: 0;
        margin: 0;
        border: 0;
    }

    /* LineTable */
    .chroma .lntable {
        border-spacing: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }

    /* LineHighlight */
    .chroma .hl {
        background-color: #3c3d38
    }

    /* LineNumbersTable */
    .chroma .lnt {
        white-space: pre;
        -webkit-user-select: none;
        user-select: none;
        margin-right: 0.4em;
        padding: 0 0.4em 0 0.4em;
        color: #7f7f7f
    }

    /* LineNumbers */
    .chroma .ln {
        white-space: pre;
        -webkit-user-select: none;
        user-select: none;
        margin-right: 0.4em;
        padding: 0 0.4em 0 0.4em;
        color: #7f7f7f
    }

    /* Line */
    .chroma .line {
        display: flex;
    }

    /* Keyword */
    .chroma .k {
        color: #66d9ef
    }

    /* KeywordConstant */
    .chroma .kc {
        color: #66d9ef
    }

    /* KeywordDeclaration */
    .chroma .kd {
        color: #66d9ef
    }

    /* KeywordNamespace */
    .chroma .kn {
        color: #f92672
    }

    /* KeywordPseudo */
    .chroma .kp {
        color: #66d9ef
    }

    /* KeywordReserved */
    .chroma .kr {
        color: #66d9ef
    }

    /* KeywordType */
    .chroma .kt {
        color: #66d9ef
    }

    /* NameAttribute */
    .chroma .na {
        color: #a6e22e
    }

    /* NameClass */
    .chroma .nc {
        color: #a6e22e
    }

    /* NameConstant */
    .chroma .no {
        color: #66d9ef
    }

    /* NameDecorator */
    .chroma .nd {
        color: #a6e22e
    }

    /* NameException */
    .chroma .ne {
        color: #a6e22e
    }

    /* NameFunction */
    .chroma .nf {
        color: #a6e22e
    }

    /* NameOther */
    .chroma .nx {
        color: #a6e22e
    }

    /* NameTag */
    .chroma .nt {
        color: #f92672
    }

    /* Literal */
    .chroma .l {
        color: #ae81ff
    }

    /* LiteralDate */
    .chroma .ld {
        color: #e6db74
    }

    /* LiteralString */
    .chroma .s {
        color: #e6db74
    }

    /* LiteralStringAffix */
    .chroma .sa {
        color: #e6db74
    }

    /* LiteralStringBacktick */
    .chroma .sb {
        color: #e6db74
    }

    /* LiteralStringChar */
    .chroma .sc {
        color: #e6db74
    }

    /* LiteralStringDelimiter */
    .chroma .dl {
        color: #e6db74
    }

    /* LiteralStringDoc */
    .chroma .sd {
        color: #e6db74
    }

    /* LiteralStringDouble */
    .chroma .s2 {
        color: #e6db74
    }

    /* LiteralStringEscape */
    .chroma .se {
        color: #ae81ff
    }

    /* LiteralStringHeredoc */
    .chroma .sh {
        color: #e6db74
    }

    /* LiteralStringInterpol */
    .chroma .si {
        color: #e6db74
    }

    /* LiteralStringOther */
    .chroma .sx {
        color: #e6db74
    }

    /* LiteralStringRegex */
    .chroma .sr {
        color: #e6db74
    }

    /* LiteralStringSingle */
    .chroma .s1 {
        color: #e6db74
    }

    /* LiteralStringSymbol */
    .chroma .ss {
        color: #e6db74
    }

    /* LiteralNumber */
    .chroma .m {
        color: #ae81ff
    }

    /* LiteralNumberBin */
    .chroma .mb {
        color: #ae81ff
    }

    /* LiteralNumberFloat */
    .chroma .mf {
        color: #ae81ff
    }

    /* LiteralNumberHex */
    .chroma .mh {
        color: #ae81ff
    }

    /* LiteralNumberInteger */
    .chroma .mi {
        color: #ae81ff
    }

    /* LiteralNumberIntegerLong */
    .chroma .il {
        color: #ae81ff
    }

    /* LiteralNumberOct */
    .chroma .mo {
        color: #ae81ff
    }

    /* Operator */
    .chroma .o {
        color: #f92672
    }

    /* OperatorWord */
    .chroma .ow {
        color: #f92672
    }

    /* Comment */
    .chroma .c {
        color: #75715e
    }

    /* CommentHashbang */
    .chroma .ch {
        color: #75715e
    }

    /* CommentMultiline */
    .chroma .cm {
        color: #75715e
    }

    /* CommentSingle */
    .chroma .c1 {
        color: #75715e
    }

    /* CommentSpecial */
    .chroma .cs {
        color: #75715e
    }

    /* CommentPreproc */
    .chroma .cp {
        color: #75715e
    }

    /* CommentPreprocFile */
    .chroma .cpf {
        color: #75715e
    }

    /* GenericDeleted */
    .chroma .gd {
        color: #f92672
    }

    /* GenericEmph */
    .chroma .ge {
        font-style: italic
    }

    /* GenericInserted */
    .chroma .gi {
        color: #a6e22e
    }

    /* GenericStrong */
    .chroma .gs {
        font-weight: bold
    }

    /* GenericSubheading */
    .chroma .gu {
        color: #75715e
    }
}
