@font-face {
    font-family: Inter;
    src: local(""), url("/fonts/inter-v12-latin-regular.woff2") format("woff2"), url("/fonts/inter-v12-latin-regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: Inter;
    src: local(""), url("/fonts/inter-v12-latin-500.woff2") format("woff2"), url("/fonts/inter-v12-latin-500.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: Inter;
    src: local(""), url("/fonts/inter-v12-latin-600.woff2") format("woff2"), url("/fonts/inter-v12-latin-600.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: local(""), url("/fonts/inter-v12-latin-700.woff2") format("woff2"), url("/fonts/inter-v12-latin-700.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: LondonHeavy;
    src: local(""), url("/fonts/London_Underground_Heavy.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: var(--font-size-6);
    line-height: 1.75;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Inter, 'Linux Libertine','Georgia','Times',serif;
    font-weight: 500;
    line-height: 1.3;
}
.display {
    font-family: LondonHeavy, 'Linux Libertine','Georgia','Times',serif;
}

h1 { font-size: var(--font-size-1); }
h2 { font-size: var(--font-size-2); }
h3 { font-size: var(--font-size-3); }
h4 { font-size: var(--font-size-4); }
h5 { font-size: var(--font-size-5); }
h6 { font-size: var(--font-size-6); }
small { font-size: var(--font-size-7); }

.f0 { font-size: calc(var(--font-size-1) * var(--font-scale-factor-display)); }
.f1 { font-size: var(--font-size-1); }
.f2 { font-size: var(--font-size-2); }
.f3 { font-size: var(--font-size-3); }
.f4 { font-size: var(--font-size-4); }
.f5 { font-size: var(--font-size-5); }
.f6 { font-size: var(--font-size-6); }
.f7 { font-size: var(--font-size-7); }

pre {
    font-size: calc(var(--font-size-6) * 0.8);
}
img+em {
    font-size: var(--font-size-7);
}

@media screen and (max-width: 30em) {
    html {
        font-size: calc(var(--font-size-6) * var(--font-scale-factor-mobile));
    }
    h1 { font-size: calc(var(--font-size-1) * var(--font-scale-factor-mobile)); }
    h2 { font-size: calc(var(--font-size-2) * var(--font-scale-factor-mobile)); }
    h3 { font-size: calc(var(--font-size-3) * var(--font-scale-factor-mobile)); }
    h4 { font-size: calc(var(--font-size-4) * var(--font-scale-factor-mobile)); }
    h5 { font-size: calc(var(--font-size-5) * var(--font-scale-factor-mobile)); }
    h6 { font-size: calc(var(--font-size-6) * var(--font-scale-factor-mobile)); }
    small { font-size: calc(var(--font-size-7) * var(--font-scale-factor-mobile)); }

    .f0 { font-size: calc(var(--font-size-1) * var(--font-scale-factor-display) * var(--font-scale-factor-mobile)); }
    .f1 { font-size: calc(var(--font-size-1) * var(--font-scale-factor-mobile)); }
    .f2 { font-size: calc(var(--font-size-2) * var(--font-scale-factor-mobile)); }
    .f3 { font-size: calc(var(--font-size-3) * var(--font-scale-factor-mobile)); }
    .f4 { font-size: calc(var(--font-size-4) * var(--font-scale-factor-mobile)); }
    .f5 { font-size: calc(var(--font-size-5) * var(--font-scale-factor-mobile)); }
    .f6 { font-size: calc(var(--font-size-6) * var(--font-scale-factor-mobile)); }
    .f7 { font-size: calc(var(--font-size-7) * var(--font-scale-factor-mobile)); }
    
    pre {
        font-size: calc(var(--font-size-6) * var(--font-scale-factor-mobile) * 0.8);
    }
    img+em {
        font-size: calc(var(--font-size-7) * var(--font-scale-factor-mobile));
    }
}
