---
papers:
- heroku
- thesis
- arg mining

blog:
- latest
- popular
- all
---
<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% content_for :page_subtitle do %>
  I don't write very well but do it anyway.
<% end %>

<%= partial "partials/_top_menu" %>

