<!DOCTYPE html>
<html>
	<head>
		<title>
			{{- block "title" . -}}
				{{- $.Site.Title -}}
			{{- end -}}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="{{ .Summary }}">
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@{{ $.Site.Params.twitter }}" />
		<meta name="twitter:creator" content="@{{ $.Site.Params.twitter }}" />
		<meta property="og:url" content="{{ .Permalink }}" />
		<meta property="og:title" content="{{- block "og_title" . -}}charlieegan3{{- end }}" />
		<meta property="og:description" content="{{ .Summary }}" />
		{{ $resourceMap := slice }}
		{{- range .Resources }}
			{{- if or (strings.HasSuffix . "jpg") (strings.HasSuffix . "png") }}
				{{- $resourceMap = $resourceMap | append (slice .) }}
			{{- end }}
		{{- end }}
		{{- if gt (len $resourceMap) 0 -}}
		<meta property="og:image" content="{{ .Permalink }}{{ index $resourceMap 0}}" />
		{{- end }}

		{{- $cssFiles := slice }}
		{{- $cssFiles = $cssFiles | append (resources.Get "css/tachyons.css") }}
		{{- $cssFiles = $cssFiles | append (resources.Get "css/styles.css") }}
		{{- $cssFiles = $cssFiles | append (resources.Get "css/post.css") }}
		{{- $css := $cssFiles | resources.Concat "css/bundle.css" }}
		{{- if isset $.Site.Params "minify" }}
			{{- $css = $css | resources.Minify }}
		{{- end }}
		{{- $css = $css | resources.Fingerprint }}
		<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" />

		{{- $jsFiles := slice }}
		{{- if isset $.Site.Params "turbolinks" }}
			{{- $jsFiles = $jsFiles | append (resources.Get "js/turbolinks.js") }}
		{{- end }}
		{{- if isset $.Site.Params "google_analytics" }}
			{{- $jsFiles = $jsFiles | append (resources.Get "js/pageviews.js") }}
		{{- end }}
		{{- $jsFiles = $jsFiles | append (resources.Get "js/welcome_message.js") }}
		{{- $jsFiles = $jsFiles | append (resources.Get "js/live_feed.js") }}
		{{- $jsFiles = $jsFiles | append (resources.Get "js/elasticlunr.js") }}
		{{- $jsFiles = $jsFiles | append (resources.Get "js/search.js") }}

		{{- $js := $jsFiles | resources.Concat "js/bundle.js" }}
		{{- if isset $.Site.Params "minify" }}
			{{- $js = $js | resources.Minify }}
		{{- end }}
		{{- $js = $js | resources.Fingerprint }}
		<script type="text/javascript" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
	</head>
	<body class="bg-darker-gray light-silver">
		<section class="{{- block "width" . -}}mw7{{- end }} center pa3 ph5-ns pb5">
			<nav class="sidebar-nav">
				{{ $currentPage := . }}
				{{ range .Site.Menus.main }}
					{{ $active := false }}
					{{ if $.IsNode }}{{ if eq .URL $currentPage.RelPermalink }}{{ $active = true }}{{ end }}{{ end }}
					{{ if $.IsPage }}{{ if eq .Identifier $.Type }}{{ $active = true }}{{ end }}{{ end }}
					<a class="{{if $active }} bb bw1 b--silver{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
				{{ end }}
				<a href="/search">
					<img class="fr grow" style="width: 20px; filer: invert(.75); -webkit-filter: invert(.75);" src="/search.svg"/>
				</a>
			</nav>
			{{- block "main" . -}}{{- end -}}
		</section>
	</body>
</html>
