.block {
    margin-bottom: 1rem;
    figcaption {
        font-size: 0.8em;
        text-align: center;
        font-style: italic;

        img {
            margin-bottom: -0.05rem;
            display: inline;
            height: 0.8em;
            border: none;
        }
    }
}
.block-intro, .block-outro {
    figure {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
    }
}
.block-outro {
    margin-top: 1rem;
    .note {
        text-align: right;
        font-size: 0.8em;
    }
}
.block-content {
    text-align: justify;
    p {
        padding: 0;
    }
    figure {
        padding: 0.5rem 0 0;
        margin: 0;
        margin-block: 0;
        max-width: 20rem;

        &.left {
            margin-right: 1rem;
            float: left;
        }
        &.right {
            margin-left: 1rem;
            float: right;
        }
    }
    &.dual-figure {
        .dual-figure-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            figure {
                display: block;
                max-width: 49%;
            }
        }
        figure {
            &.left, &.right {
                display: none;
            }
        }
    }
    &.two-col .cols {
        .col {
            &:first-child {
                margin-block-end: 1rem;
            }
        }
    }
}
@media (max-width: 40rem) {
    .block-content {
        &:not(.dual-figure) {
            figure {
                max-width: 12rem;
            }
        }
        &.dual-figure {
            figure.left {
                padding-right: 0.5rem;
            }
            figure.right {
                padding-left: 0.5rem;
            }
        }
    }
}
@media (max-width: 23rem) {
    .block-content {
        &:not(.dual-figure) {
            figure.left, figure.right {
                float: none;
                width: 100%;
                max-width: 80%;
                display: block;
                margin: 0 auto;
            }
        }
    }
}
@media (min-width: 94rem) {
    .block-content {
        figure {
            &.left {
                float: left;
                margin-left: -22rem;
            }
            &.right {
                float: right;
                margin-right: -22rem;
            }
        }
        &.dual-figure {
            .dual-figure-wrapper {
                display: none;
            }
            figure {
                padding: 0.5rem 0 0;
                margin: 0;
                margin-block: 0;
                max-width: 20rem;

                &.left {
                    display: block;
                    float: left;
                    margin-left: -22rem;
                    padding-right: 0;
                }
                &.right {
                    display: block;
                    float: right;
                    margin-right: -22rem;
                    padding-left: 0;
                }
            }
        }
        &.two-col .cols {
            display: flex;
            .col {
                width: 50%;
                &:first-child {
                    padding-right: 0.5rem;
                    margin-block-end: 0;
                }
                &:last-child {
                    padding-left: 0.5rem;
                }
            }
        }
    }
}


html, body {
    height: 100%;
}
.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

a.anchor {
    text-decoration: none;
}

:target .anchor {
    display: none;
}

ul, ol {
    padding-left: 1.5rem;
}

pre.chroma {
    border: 1px solid $border-color;
}
.round img {
    border: 1px solid $border-color;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: $light-body-background-color;
        color: $light-font-color;
    }

    hr {
        background-color: $light-muted-element;
    }

    :target, .highlight {
        background-color: $light-highlight-color;
    }

    .light-mode {
        display: block;
    }

    .dark-mode {
        display: none;
    }

    a {
        color: $light-link;
    }
    a:visited {
        color: $light-link-visited;
    }
    a.anchor {
        color: $light-muted-element;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark-body-background-color;
        color: $dark-font-color;
    }

    :target, .highlight {
        background-color: $dark-highlight-color;
    }

    hr {
        background-color: $dark-muted-element;
    }

    .light-mode {
        display: none;
    }

    .dark-mode {
        display: block;
    }

    input[type="email"], input[type="text"], textarea {
        background-color: $dark-body-background-color;
        color: $dark-font-color;
    }

    a {
        color: $dark-link;
    }
    a:visited {
        color: $dark-link-visited;
    }
    a.anchor {
        color: $dark-muted-element;
    }
}
