.page-content {
  p:first-child, div p:last-child {
    margin-top: 0;
  }

  p:last-child, div p:last-child {
    margin-bottom: 0;
  }

  div.flex:not(:last-child) {
    margin-bottom: 1rem;
  }

  p, li {
    text-align: justify;
    line-height: 1.5em;
  }

  p code {
    padding: 1px 3px;
  }

  ul {
    code {
      padding: 1px 3px;
    }

    margin-bottom: 0.5rem;
  }

  ol {
    margin-bottom: 0.5rem;
    list-style-type: decimal;
  }

  li {
    margin-bottom: 0.3rem;

    img {
      margin-top: 0.5rem;
      width: 100%;
    }
  }

  li {
    ul {
      padding-left: 1.5rem;
    }

    p:first-child {
      display: inline;
    }
  }

  pre {
    margin-bottom: 0.5rem;
    border: 1px solid #444444;
    padding: 0.4rem 0.6rem;
  }

  .info {
    border: 2px solid cornflowerblue;
  }

  .warning {
    border: 2px solid orange;
  }

  .error {
    border: 2px solid orangered;
  }

  .info, .warning, .error {
    padding: 0.75rem 1rem;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
  }

  .warning :first-child, .error :first-child, .info :first-child {
    margin-top: 0;
  }

  .warning :last-child, .error :last-child, .info :last-child {
    margin-bottom: 0;
  }

  em {
    font-style: italic;
    text-justify: none;
  }
  blockquote {
    font-style: italic;
    padding-left: 2rem;
  }
  img + em {
    vertical-align: top;
  }

  hr {
    border: 0;
    height: 1px;
    margin-left: 0;
    max-width: 100%;
  }

  img {
    border-style: solid;
    border-width: 1px;
    max-width: 100%;
    box-sizing: border-box;

    /* this is needed for inline images in li tags, other images are in p tags from md processor */
    display: block;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th:first-child {
    border-left: none;
  }

  td {
    border: 1px solid;
    padding: 0.3rem;
  }

  th {
    padding: 0.3rem;
  }
}

.page-content.section-talks {
  img {
    max-width: 30rem;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  img+em {
    display: block;
    text-align: center;
  }
}
