.muted {
    color: $muted-text-color;
}

.round img {
    border-radius: 100%;
    border: 1px solid $border-color;
}

img.external-link {
    display: inline;
    width: 20px;
    vertical-align: bottom;
    margin-bottom: 3px;
}

.tfl-blue { color: $tfl-blue }
.tfl-red { color: $tfl-red }
.tfl-yellow { color: $tfl-yellow }
.tfl-green { color: $tfl-green }

.loader {
    width: 100%;
    height: 5px;
    position: fixed;
    background-color: $tfl-blue-light;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
    background-size: 1em 1em;
    box-sizing: border-box;
    animation: barStripe 1s linear infinite;
}

@keyframes barStripe {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1em 0;
    }
}
