.menu {
  border-top-width: 0.3rem;
  border-top-style: solid;
  a.selected {
    text-decoration: none;
  }
}

.section-home {
  .menu {
    border-top-color: $tfl-blue;
    a {
      &.selected {
        background-color: transparentize($tfl-blue, 0.7);
        color: darken($tfl-blue, 5%);

        @media (prefers-color-scheme: dark) {
          color: lighten($tfl-blue, 40%);
        }
      }
    }
  }
}

.section-posts {
  .menu {
    border-top-color: $tfl-red;
    a {
      &.selected {
        background-color: transparentize($tfl-red, 0.7);
        color: darken($tfl-red, 30%);

        @media (prefers-color-scheme: dark) {
          color: lighten($tfl-red, 40%);
        }
      }
    }
  }
}

.section-weeknotes {
  .menu {
    border-top-color: $tfl-green;
    a {
      &.selected {
        background-color: transparentize($tfl-green, 0.7);
        color: darken($tfl-green, 10%);

        @media (prefers-color-scheme: dark) {
          color: lighten($tfl-green, 40%);
        }
      }
    }
  }
}

.section-search {
  .menu {
    border-top-color: $tfl-yellow;
    a {
      &.selected {
        background-color: transparentize($tfl-yellow, 0.7);
        color: darken($tfl-yellow, 30%);

        @media (prefers-color-scheme: dark) {
          color: lighten($tfl-yellow, 40%);
        }
      }
    }
  }
}

.section-talks {
  .menu {
    border-top-color: $tfl-orange;
  }
}
