@font-face {
    font-family: Inter;
    src: local(""), url("/fonts/inter-v12-latin-regular.woff2") format("woff2"), url("/fonts/inter-v12-latin-regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: Inter;
    src: local(""), url("/fonts/inter-v12-latin-500.woff2") format("woff2"), url("/fonts/inter-v12-latin-500.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: Inter;
    src: local(""), url("/fonts/inter-v12-latin-600.woff2") format("woff2"), url("/fonts/inter-v12-latin-600.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: local(""), url("/fonts/inter-v12-latin-700.woff2") format("woff2"), url("/fonts/inter-v12-latin-700.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: $font-size-6;
    line-height: 1.75;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Inter, 'Linux Libertine','Georgia','Times',serif;
    font-weight: 500;
    line-height: 1.3;
}
h1 { font-size: $font-size-1; }
h2 { font-size: $font-size-2; }
h3 { font-size: $font-size-3; }
h4 { font-size: $font-size-4; }
h5 { font-size: $font-size-5; }
h6 { font-size: $font-size-6; }
small { font-size: $font-size-7; }

.f1 { font-size: $font-size-1; }
.f2 { font-size: $font-size-2; }
.f3 { font-size: $font-size-3; }
.f4 { font-size: $font-size-4; }
.f5 { font-size: $font-size-5; }
.f6 { font-size: $font-size-6; }
.f7 { font-size: $font-size-7; }

pre {
    font-size: calc($font-size-6 * 0.8); 
}
img+em {
    font-size: $font-size-7;
}

@media screen and (max-width: 30em) {
    html {
        font-size: calc($font-size-6 * $font-scale-factor-mobile);
    }
    h1 { font-size: calc($font-size-1 * $font-scale-factor-mobile); }
    h2 { font-size: calc($font-size-2 * $font-scale-factor-mobile); }
    h3 { font-size: calc($font-size-3 * $font-scale-factor-mobile); }
    h4 { font-size: calc($font-size-4 * $font-scale-factor-mobile); }
    h5 { font-size: calc($font-size-5 * $font-scale-factor-mobile); }
    h6 { font-size: calc($font-size-6 * $font-scale-factor-mobile); }
    small { font-size: calc($font-size-7 * $font-scale-factor-mobile); }

    .f1 { font-size: calc($font-size-1 * $font-scale-factor-mobile); }
    .f2 { font-size: calc($font-size-2 * $font-scale-factor-mobile); }
    .f3 { font-size: calc($font-size-3 * $font-scale-factor-mobile); }
    .f4 { font-size: calc($font-size-4 * $font-scale-factor-mobile); }
    .f5 { font-size: calc($font-size-5 * $font-scale-factor-mobile); }
    .f6 { font-size: calc($font-size-6 * $font-scale-factor-mobile); }
    .f7 { font-size: calc($font-size-7 * $font-scale-factor-mobile); }
    
    pre {
        font-size: calc($font-size-6 * $font-scale-factor-mobile * 0.8);
    }
    img+em {
        font-size: calc($font-size-7 * $font-scale-factor-mobile);
    }
}
