// https://typescale.com/ to set values
$font-scale-factor: 0.8;
$font-scale-factor-mobile: 0.9; // 0.9 * $font-scale-factor = 0.72
$font-scale-factor-display: 1.6;

$font-size-1: calc(2.488rem * $font-scale-factor);
$font-size-2: calc(2.074rem * $font-scale-factor);
$font-size-3: calc(1.728rem * $font-scale-factor);
$font-size-4: calc(1.44rem * $font-scale-factor);
$font-size-5: calc(1.25rem * $font-scale-factor);
$font-size-6: calc(1.2rem * $font-scale-factor);
$font-size-7: calc(1.1rem * $font-scale-factor);

$tfl-blue:        rgb(0, 15, 159);
$tfl-blue-light:  rgb(71, 158, 218);
$tfl-red:         rgb(225, 37, 27);
$tfl-yellow:      rgb(255, 205, 0);
$tfl-orange:      rgb(223,131,52);
$tfl-green:       rgb(0, 121, 52);
$tfl-green-light: rgb(132, 185, 66);

$border-color: #cccccc;
$muted-text-color: #777777;

$light-body-background-color: #fafafa;
$light-font-color: #222222;
$light-highlight-color: rgba(255, 255, 0, 0.5);
$light-link-visited: #3649db;
$light-link: #1e82e3;
$light-muted-element: #aaaaaa;

$dark-body-background-color: #272822;
$dark-font-color: #eeeeee;
$dark-highlight-color: rgba(255, 255, 0, 0.2);
$dark-link-visited: #9069ff;
$dark-link: #5ca4ff;
$dark-muted-element: #555555;
