$tfl-blue:        rgb(0, 15, 159);
$tfl-blue-light:  rgb(71, 158, 218);
$tfl-red:         rgb(225, 37, 27);
$tfl-yellow:      rgb(255, 205, 0);
$tfl-orange:      rgb(223,131,52);
$tfl-green:       rgb(0, 121, 52);
$tfl-green-light: rgb(132, 185, 66);

$border-color: #cccccc;
$muted-text-color: #777777;

$light-font-color: #222222;
$light-body-background-color: #fafafa;
$light-highlight-color: rgba(255, 255, 0, 0.5);
$light-link: #1e82e3;
$light-link-visited: #3649db;
$light-muted-element: #aaaaaa;

$dark-font-color: #eeeeee;
$dark-body-background-color: #272822;
$dark-link: #5ca4ff;
$dark-link-visited: #9069ff;
$dark-highlight-color: rgba(255, 255, 0, 0.2);
$dark-muted-element: #555555;
