---
work_projects:
  - title: char.gy
    link: https://char.gy
    comment: I'm currently working on the char.gy project.
      I've been working on user onboarding and some upgrades to our AWS
      infrastructure.
    image: /work/chargy.jpg

  - title: Bookmetrix
    link: http://bookmetrix.com
    comment: I worked for a period of four months on the Bookmetrix project.
      We worked to import new content and built tools for authors to promote
      books.
    image: /work/bookmetrix.jpg
---
<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% content_for :page_subtitle do %>
  I work as a Ruby developer.
<% end %>

<%= partial "partials/_top_menu" %>

<%= partial("partials/item_list",
            locals: { items: current_page.data.work_projects }) %>
