{{ define "title" }}
	Posts - {{ $.Site.Title -}}
{{ end }}

{{ define "main" }}
	<h1 class="moon-gray">Posts</h1>

	{{ range .Paginator.Pages }}
		<div>
			<h2 class="moon-gray mb0 f5">{{ .Title }}</h2>
			<p class="tj mb4 mt1 f6">
				<span class="gray">
					{{ dateFormat "Jan 2 2006" .Date }}
				</span>
				-
				{{ .Summary }}
				{{ if .Params.external_url }}
				<a target="_blank" href="{{ .Params.external_url }}">
					Read on External Site
					<img class="w1" style="filer: invert(.75); -webkit-filter: invert(.75);" src="/external-link.svg"/>
				</a>
				{{ else }}
				<a href="{{ .RelPermalink }}">Read</a>
				{{ end }}
			</p>
		</div>
	{{ end }}

	{{ if gt .Paginator.TotalPages 1 }}
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}" aria-label="Previous">previous</a>
		{{ end }}
		{{ if .Paginator.HasNext }}
			<a class="fr" href="{{ .Paginator.Next.URL }}" aria-label="Next">next</a>
		{{ end }}
	{{ end }}
{{ end }}
