---
teachings:
  - title: codebar
    link: http://codebar.io
    comment: I've been to around 40 Codebar workshops where I tend to teach Ruby
    image: /teaching/codebar.jpg
  - title: WWC
    link: https://www.womenwhocode.com/
    comment: I have taught at a smaller number of WWC Ruby workshops
    image: /teaching/wwc.png
  - title: Teaching Assistant at UoA
    link: https://www.abdn.ac.uk/registry/courses/undergraduate/2017/computing_science/cs2012
    comment: I taught on the second-year, web application development course for three terms - we covered basic Ruby, Rails and Postgres
    image: /teaching/aberdeen.png
  - title: Code First Girls
    link: http://www.codefirstgirls.org.uk
    comment: I taught a 6 week intro to HTML, CSS & JS course during my final spring term at Aberdeen
    image: /teaching/cfg.jpg
  - title: CoderDojo
    link: https://zen.coderdojo.com/dojo/gb/university-of-aberdeen-computing-science-meston-building-room-3-11-aberdeen-ab-2-4-3ue/aberdeen
    comment: I tutored school students at the Coderdojo after school club series
    image: /teaching/coderdojo.png
---
<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% content_for :page_subtitle do %>
  I like learning by teaching.
<% end %>

<%= partial "partials/_top_menu" %>

<%= partial("partials/item_cards",
            locals: { items: current_page.data.teachings }) %>
