---
teachings:
  - title: codebar
    link: http://codebar.io
    comment: this is codebar's comment. It might be more than a single sentence
    image: /teaching/codebar.jpg
  - title: CFG
    link: http://codebar.io
    comment: this is codebar's comment. It might be more than a single sentence
    image: desktop
  - title: Teaching Assistant at University of Aberdeen
    link: http://codebar.io
    comment: this is codebar's comment. It might be more than a single sentence
    image: desktop
  - title: CoderDojo
    link: http://codebar.io
    comment: this is codebar's comment. It might be more than a single sentence
    image: desktop
---
<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% content_for :page_subtitle do %>
  I like learning by teaching.
<% end %>

<%= partial "partials/_top_menu" %>

<%= partial("partials/item_cards",
            locals: { items: current_page.data.teachings }) %>
