---
teachings:
  - codebar
  - cfg
  - 1:1
  - abdn
  - codedojo
---
<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% content_for :page_subtitle do %>
  I like learning by teaching.
<% end %>

<%= partial "partials/_top_menu" %>

thing


