<form action="https://formspree.io/me@charlieegan3.com" method="POST">
	<textarea id="message" style="resize: none;" rows="4" class="code silver bg-darker-gray pa1 w-100 mb2 input-reset ba bw1 b--mid-gray" name="message" placeholder="message"></textarea>
	<input class="bg-darker-gray silver code pa1 w-100 mb2 input-reset ba bw1 b--mid-gray" type="email" name="_replyto" placeholder="email">
	<input class="bg-darker-gray silver b code pv2 w-100 mb2 input-reset ba bw1 b--mid-gray bg-animate hover-bg-dark-gray pointer" type="submit" value="send">
</form>
