---
title: docker
date: 2015-08-01
type: learning
---
I used Dokku on Digital Ocean for serializer, luckily I was able to spend a little more time with Docker and Dokku this summer in London. I've got a cool side project waiting in the wings that I just need to get round to starting!
