<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% content_for :page_subtitle do %>
  List of things I've done
<% end %>

<%= partial "partials/_top_menu" %>

<% page_articles(blog_name = "timeline").group_by { |a| a.date.strftime('%Y') }.to_a.each do |year, articles| %>
  <h2 class="f3 display b mh1-ns mb1"><%= year %></h2>

  <div class="mh1-ns mb2">
    <% articles.each do |article| %>
      <h2 class="b"><%= article.title %></h2>
      <div class="mb1"><%= article.body %></div>
    <% end %>
  </div>
<% end %>
