---
layout: post
title: Never Break the Chain
date: '2012-12-31T07:00:00+00:00'
tags:
- Motivation
- Journal
- blogging
- Break the Chain
- self betterment
tumblr_url: http://charlieegan3.tumblr.com/post/46786064084/never-break-the-chain
---
<p><br/>I&rsquo;ve been down staying with relatives for the last few days. It&rsquo;s nice to have a bit of variation, I quite like traveling about. One thing that is a little bit difficult though is keeping my <a href="http://dayoneapp.com/" target="_blank">personal journal</a> and charlieegan3.com updated. I read an article on <a href="http://lifehacker.com/" target="_blank">lifehacker.com </a> quite a while a go now about how the longer you have done something the easier it is to keep doing it.<br/><br/>This definitely applies here and is quite a powerful force in keeping you rolling. When it gets to like this week though it can be rather inconvenient!<br/><br/>That said it&rsquo;s a good thing that it works like this, I&rsquo;ve been keeping the journal for almost for months now and the daily chain has been a big help in keeping the daily chain going.<br/><br/>It seems to be a kind of competition with ones past self. If you know that if in the past you managed then is becomes<br/><br/>It doesn&rsquo;t matter if your chain is every hour, day or week. I&rsquo;ve found it&rsquo;s just important to keep it regular. I&rsquo;ve tried doing some things just every now and then, but it really doesn't seem to work in the long term. - just far too easy to put off.<br/><br/>I know this isn&rsquo;t strictly tech related but this is the kind of thing that I find interesting and useful. <a href="http://lifehacker.com/" target="_blank">lifehacker</a> is a great site, if you&rsquo;re not been already I&rsquo;d take a look some time, quite a good mix of tech and self betterment on there.<br/><br/><b>-charlie out-</b></p>
