---
layout: post
title: What's Wikipedia Worth?
date: '2012-12-11T07:00:00+00:00'
tags:
- tech
- charity
- donation
- personal
- value
- wikipedia
- giving
tumblr_url: http://charlieegan3.tumblr.com/post/46786017431/whats-wikipedia-worth
---
<blockquote><div>Commerce is fine. Advertising is not evil. But it doesn’t belong here.</div></blockquote>
<p>That’s an exercpt from <a href="https://donate.wikimedia.org/w/index.php?title=Special:FundraiserLandingPage&amp;country=GB&amp;uselang=en&amp;utm_medium=sidebar&amp;utm_source=donate&amp;utm_campaign=C12_en.wikipedia.org" target="_blank">here</a>, Wikipedias donation page.</p>
<p>I don’t use Wikipedia as much as <a href="http://stackoverflow.com/" target="_blank">other</a> sites, or as much as other users, but I’m probably still there for at least 15mins a day, that’s almost <strong>100 hours</strong> a year.</p>
<p>Any other ‘free’ site would probably have got me to click plenty of ads in that time. Not on Wikipedia. In case you, didn’t know Wikipedia is supported entirely by our donations.</p>
<p>Wikipedia represents all that the internet should be: <em>“…a place we can all go to think, to learn, to share our knowledge with others.”</em></p>
<p>I have recently made my second small donation, it’s not much, but then neither am I, it seemed a fitting $5.</p>
<p>This was just a small entry to promote the good cause of Wikipedia to the very (very) few people who read this. Please think about making a <a href="https://donate.wikimedia.org/w/index.php?title=Special:FundraiserLandingPage&amp;country=GB&amp;uselang=en&amp;utm_medium=sidebar&amp;utm_source=donate&amp;utm_campaign=C12_en.wikipedia.org" target="_blank">donation</a>.</p>
<p><strong>-charlie out-</strong></p>