---
layout: post
title: Prologue
date: '2012-11-30T18:40:00+00:00'
tags:
- first entry
- prologue
- new
- hello world
- blog
tumblr_url: http://charlieegan3.tumblr.com/post/46785989556/prologue
---
<p><span style="background-color: white; color: #444444; font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 19px;">I’ve always liked the idea of keeping a diary, incrementally creating something worthwhile to look back on. This is hopefully the start of something like that.</span><br/><span style="background-color: white; color: #444444; font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 19px;"><b><br/></b></span><span style="background-color: white; color: #444444; font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 19px;"><b>-charlie out-</b></span></p>
