---
layout: post
title: ScrApp Stores
date: '2012-12-08T18:52:00+00:00'
tags:
- apple
- google
- apps
- shopping
- tech
- features
- play
- app
- improvements
- program
- app store
tumblr_url: http://charlieegan3.tumblr.com/post/46786010880/scrapp-stores
---
<p>Apps Store have <a href="http://waazzupppp.wordpress.com/2012/11/01/editorial-has-the-app-store-killed-the-software-market/" target="_blank">changed</a> the face of the software market. They serve up content cheaply and consistently. While the content they provide may be better than ever, the stores themselves just aren’t up to scratch.</p>
<p>In many ways they do everything you would expect. They offer up content, organise your payments and oversee feedback. They even do some vaguely intelligent things like suggest apps or nice things like hold the odd sale. What’s bad is not what they do, but instead, what they don’t.</p>
<p>You’re thinking well what else should they be doing? The answer: lots. It’s easier to picture when you think about online stores that sell real things - like amazon.com. Think about how you use amazon, say you’re shopping for a kettle, do you just go to the household section and buy the item (kettle or not) at the top of the list? Didn’t think so. You’ll sort out items till you only see kettles and then rank them on various factors.</p>
<p>On app stores there are many fewer routes to each product: the home screen, top lists, broad categories and search - which in itself is not good at generic terms at all. While Amazon and eBay allow a <a href="http://www.ebay.com/sch/ebayadvsearch/?rt=nc" target="_blank">multitude</a> of search and sort apps stores lack any kind of a results filter.</p>
<p>Lets say I’m looking for a productivity app. I search at the top for “productivity” and I’m shown results for that term - good. My options then are to: browse the results, choose an app and choose paid or free. Pretty pathetic if you ask me. What if I wanted an app that was less than £2 and had 4 or more stars from over 50 reviews - an impossible yet not unreasonable request.</p>
<p>There is a reasonable amount of variation in app stores - Steam for example does have better than average browsing options, perhaps due to its age, but it’s really let down by a buggy client. However, the mean does tend to be: an over simplistic, under powered and watered down browsing experience.</p>
<p>There’s as much, if not more, money in app stores as in other online retail - why isn’t there the same emphasis on a quality browsing experience?</p>
<p><strong>-charlie out-</strong></p>