---
layout: post
title: Blogging Beginning
date: '2012-12-24T07:00:00+00:00'
tags:
- blogging
- hobby
- learning
- new skills
tumblr_url: http://charlieegan3.tumblr.com/post/46786046941/blogging-beginning
---
<p><br/>I&rsquo;ve not been in the business long, still under a month in fact. In that short time I&rsquo;ve learn&rsquo;t my fair share of relevant knowledge, here are my&hellip;discoveries!<br/><br/>First up are the page-view misconceptions. Lesson: 400 americans did not visit my site in the first day. There were in fact just robots and I now use Analytics as a more accurate source of data.<br/><br/>AdSense was the next lesson. I applied 3 times for AdSense before finally putting in the time to find out that the site needs to be 6 months old. Not sure why Google can&rsquo;t help you learn what is wrong with your application. Seems to be deliberately withholding on the matter.<br/><br/>I read through about 50 guides to increasing traffic but only one mentioned putting a link in your forum signature. Being a regular at <a href="http://forums.macrumors.com/member.php?u=669532" target="_blank">macrumors</a> this was a very easy step. I have over 2000 posts there, that means my signature is show in over 2000 places, so that&rsquo;s 2000 visible links to my blog. It gets be about 20 unique visits a day - provided I post in a few threads. It also helps getting in early on the articles as they get the greatest traffic.<br/><br/>The other thing that is annoying but is something that I realized from the start - <i>I am in my stats</i>. A large percentage of my views are still from Aberdeen University, which of course is me. It was a big problem at the start for stat bending but now my have tailed off it&rsquo;s a little better.<br/><br/>I&rsquo;m sure there are many more lessons to learn on the blogging front - I just hope they don&rsquo;t get the better of me.<br/><br/><b>-charlie out-</b></p>
