---
layout: post
title: Foresight is Futile
date: '2012-12-14T07:00:00+00:00'
tags:
- turn based
- uk gaming
- gaming
- review
- frozen synapse
- mode7
- opinion
- strategy
tumblr_url: http://charlieegan3.tumblr.com/post/46786024043/foresight-is-futile
---
<p>One of the games I like to play is called <a href="http://www.frozensynapse.com/" target="_blank">Frozen Synapse</a>. It’s a turn based strategy game that lends it’s self nicely to competitive play. You’re reading about it here because: It’s not as well know as it should be, it’s British and above all it’s a great game.</p>
<p>How it works is as follows. You’re given tactical situations to resolve and in your favour. You have total control of over units who will walk backwards into fire or eliminate the enemy team depending on your command. You choose how they walk, wait and wipe-out the enemy team. This amount of precision is great and is essential in planning elegant plays.</p>
<p>You have to move make your units act in such a way that you think will work worst for your opponent - this is what makes it fun and challenging. You want to make sure you’re aiming at that door before they come out, make sure the guy you use as a distraction doesn’t die and so on. Of course the enemy plan is for the exact opposite - this makes it all a game of prediction where it pays to learn your opponents style.</p>
<p>It’s a great idea, and the interface and tools available to design plays make it nothing short of incredible.</p>
<p>I’ve played multiplayer but found the AI players also very good. So good that they are near impossible to beat on the higher settings. A nice touch is that there are different styles of AI player, super aggressive/cautious and so on, this combined with literally hundreds of pre-game options makes for something that never grows old.</p>
<p>Another nice thing is that the game only requires <a href="http://www.frozensynapse.com/features.html#sysReqs" target="_blank">modest specs</a>, meaning you can play it for a long time on battery and on almost any computer.</p>
<p>This game has picked up great reviews and has certainly made a mark, I just thought that I would do my bit to promote it as a loyal player.</p>
<p><strong>-charlie out-</strong></p>