---
layout: post
title: Simple as Syntax
date: '2012-12-02T18:48:00+00:00'
tags:
- coding
- krill
- computer science
- review
- programming
- suggestion
- coderunner
- tech
tumblr_url: http://charlieegan3.tumblr.com/post/46785996896/simple-as-syntax
---
<p>Popular programs don’t need reviews - their popularity says enough: they’re useful, innovative, even revolutionary. However there are some great solutions out there that really don’t get enough recognition - <a href="http://krillapps.com/coderunner/" target="_blank">CodeRunner</a> is my personal favourite of that description.</p>
<p>We’ve all used the command line to run code, we’ve also used a full blown IDE - but CodeRunner is something special. CodeRunner lets you write and run in many, totally different languages and all from the same sleek window.</p>
<p>Hit play to run - instantly, choose the syntax from a drop down - made just so perfectly simple. And from simplicity comes speed and greater productivity.</p>
<p>I’ll give you an example. For one of my courses we were given Ruby assignment. I think because the tutors wanted everyone to be on the same system they told us that we needed to do it through a virtual machine. Just crazy - you can run Ruby on Windows, Mac and Linux - and of course everyone goes ahead and sets up the virtual machine leading to many more problems… For me and CodeRunner though it was as simple as just typing code away into one app - natively! For me there was no buggy virtualisation, no over baked text editors - just one clean window for every task.</p>
<p>What’s great though is the same solution worked for my python assessment too, just so perfectly simple to switch language.</p>
<p>It’s the best program out there for all computer science students alike. Problem: “lots of simple programs, lots of different languages, all at once” Answer: <strong>CodeRunner</strong>, every time.</p>
<p><strong>-charlie out-</strong></p>