---
layout: post
title: Where? But to the web!
date: '2012-12-22T07:00:00+00:00'
tags:
- web
- espresso
- programming
- cross-platform
- web app
- web development
- macrabbit
tumblr_url: http://charlieegan3.tumblr.com/post/46786042630/where-but-to-the-web
---
<p><br/>When you&rsquo;re learning to program the variety can be very distracting, it&rsquo;s hard to choose what to program with when there isn&rsquo;t any real project. It&rsquo;s just you and some spare time.<br/><br/>I first learnt to program in VB.NET - in many ways it&rsquo;s a good place to start. You can easily create programs that look &lsquo;real&rsquo;, you can run them on most Windows boxes and they are basically good fun.<br/><br/>Still, you can&rsquo;t run them <b>everywhere</b> and the idea that it&rsquo;s hard to show everyone your creation has always bothered me somewhat. I had never really thought about web applications until recently when I covered them on my course and they appear to be the answer to my sharing problem.<br/><br/>If they taught this kind of programming/development at school and equipped pupils with a <a href="http://www.000webhost.com/" target="_blank">free web host</a> then I think there would be a great deal more interest. Parents would be able to see what there kids were creating and I think this would lead to a greater interest in computing as a subject.<br/><br/>So on that note I think web, and web applications, is where I&rsquo;m headed - I think it&rsquo;s the answer to my long standing cross platform development problem.<br/><br/>I&rsquo;ve bought a really nice app called <a href="http://macrabbit.com/espresso/" target="_blank">Espresso</a> from <a href="http://macrabbit.com/" target="_blank">MacRabbit</a> on special offer that does lots of the boring stuff for me. Web development is also exceptionally <a href="http://www.w3schools.com/" target="_blank">well documented</a> online and that&rsquo;s been a big help so far.<br/><br/>I&rsquo;m not saying that this is my life path but it&rsquo;s certainly where I&rsquo;ll be spending my spare time over the next few months - I think.<br/><br/><b>-charlie out-</b></p>
