---
layout: post
title: Sunday Stories
date: '2012-12-09T18:53:00+00:00'
tags:
- links
- weekly
- internet
- tech
- news
tumblr_url: http://charlieegan3.tumblr.com/post/46786013078/sunday-stories
---
<p>Just for a bit of variation, Sunday’s entry will be a collection of links to things that interested me this week.</p>
<p><a href="http://online.wsj.com/article_email/SB10001424127887323717004578159481472653460-lMyQjAxMTAyMDAwNDEwNDQyWj.html" target="_blank">News Article</a> (source: WSJ)</p>
<blockquote><div>“The adult way to run a business is to run it more like a country. They have disputes, yet they’ve actually been able to have huge trade with each other. They’re not sending bombs at each other.”</div></blockquote>
<p>The media portrays these conflicts in a very skewed manner and I think this comment probably lies closer to the truth.</p>
<p><a href="http://www.engadget.com/2012/12/05/review-sites-are-broken/" target="_blank">Feature / Analysis</a></p>
<blockquote><div>“Humans disagree, and that’s what fuels the raging online communities, political systems, wars and sporting events. It’s our difference potential and it creates social energy.”</div></blockquote>
<p>As a big believer in leaving (and reading) feedback this one interested me. It’s probably changed the way I’ll read and write feedback in future.</p>
<p><a href="http://michellzappa.com/map/envisioning-technology-2011-03-07.png" target="_blank">Infographic</a></p>
<p>It sure would be great to see all this stuff by the time I’m 50 - an intriguing insight into the future of science an tech.</p>
<p><a href="http://www.ehow.com/how_4476504_develop-photographic-memory.html" target="_blank">Interesting Tip</a></p>
<p>Join me in giving this one a go - I’ve always wanted a photographic memory.</p>
<p><a href="http://www.futureme.org/" target="_blank">Interesting Site</a></p>
<p>The idea of leaving (and forgetting about) a note for the future is another interesting one - I’ve set one up for my birthday next year.</p>
<p><a href="https://play.google.com/store/apps/details?id=com.istastech.android.slicekeyboard&amp;feature=more_from_developer#?t=W251bGwsMSwxLDEwMiwiY29tLmlzdGFzdGVjaC5hbmRyb2lkLnNsaWNla2V5Ym9hcmQiXQ.." target="_blank">Interesting App</a></p>
<p>Personally I use <a href="https://play.google.com/store/apps/details?id=com.keymonk.latin&amp;hl=en" target="_blank">Keymonk</a> on my phone but this looked interesting in much the same way - if you’ve got an Android tablet it would be one to <a href="https://play.google.com/store/apps/details?id=com.istastech.android.slicekeyboarddemo&amp;feature=more_from_developer" target="_blank">try out</a>.</p>
<p><a href="http://www.dusso.com/pages/EP3/sac.html" target="_blank">This Weeks Desktop</a></p>
<p>I change my desktop roughly once a week, this is the current on.</p>
<p><strong>-charlie out-</strong></p>