---
layout: post
title: Keymonk Keyboard
date: '2012-12-13T07:00:00+00:00'
tags:
- android
- novel
- review
- favorite
- fast typing
- intelligent
- keyboard
- app
tumblr_url: http://charlieegan3.tumblr.com/post/46786021911/keymonk-keyboard
---
<p>My reasons for being an Android fan all boils down to it’s customisation - and it will stay that way at least until everyone else catches up. One of the main and most interesting customisations you can make on Android is the keyboard. This entry is about my personal favourite: <a href="http://keymonk.com/" target="_blank">Keymonk</a>.</p>
<p>My gesture based typing story actually started with <a href="http://www.swype.com/" target="_blank">Swype</a> itself, it’s great, but it started to get a little buggy on my phone, and for some reason I couldn’t sort it out.</p>
<p>This lead me into a testing spree, I tried almost all the major keyboards out there, and there are some <a href="http://www.swiftkey.net/en/" target="_blank">great</a> ones. In the end though I settled with Keymonk.</p>
<p>Keymonk, in terms of basic principles, is almost exactly the same as other gesture based keyboards. You move your finger on screen rather than lifting off to tap. However it has one fundamental difference: you can use <strong>two </strong>fingers.</p>
<p>All traditional keyboards let you tap with two fingers at once, but dual-finger, gesture based typing seems to be unique to Keymonk.</p>
<p>What’s great about about this keyboard is that, rather than making time consuming, contortionist stretches over the screen with one thumb, you can use two, hence eliminating those awkward movements. Imagine you’re typing the word <em>‘How’</em>. You would start by placing your finger on ‘H’ and then move it to ‘o’, the next step would be a long swipe all the way over to ‘w’. With Keymonk though it’s just a case of tapping/re-swiping those other letters with your second thumb.</p>
<p>First hand experience is the only way to fully understand this rather innovative product. There’s a perfectly good free version so if you’ve got an Android phone there’s no excuse! While I’m sure it’s not for everyone, it’s totally changed the way I type.</p>
<p><strong>-charlie out-</strong></p>