---
layout: post
title: Project Glass
date: '2013-02-18T00:30:00+00:00'
tags:
- ar
- google
- project glass
- smartphone
- augmented reality
- google glasses
- photography
- google+
- glasses
tumblr_url: http://charlieegan3.tumblr.com/post/46786187540/project-glass
---
<p><br/>Ever since <a href="https://www.youtube.com/watch?v=9c6W4CCU9M4" target="_blank">this</a> Google Glasses has been product I&rsquo;ve kept a close eye on. I love the idea that all of and more than the functions of our mobile devices could be promoted to handsfree.<br/><br/>Google Glasses is handsfree in the purest sense but does&rsquo;t loose out - it&rsquo;s hands free by design, from the ground up - not just an afterthought or add-on. And in a totally new form. I think it has the potential to give us back what smartphones took away: <i>our hands</i>.<br/><br/>The idea that we no longer need use our hands to perform these actions is not a new one, however any implementation has never come this far before. It has the potential to be the biggest revolution since the mobile phone. It&rsquo;s been well publicized and there have recently been the first developer sessions - apparently creating many new ways to use the product.<br/><br/>I&rsquo;m most looking forward to the chance to take photos without fumbling for my phone/camera. I run in some lovely places but rarely take my phone. Google Glasses would solve this, allowing me to record the sight without interrupting the run. I&rsquo;m not sure how it would work in terms of storing them but I&rsquo;m sure it would be able to look after them while out of reception.<br/><br/>I think integration with phone and smart watches is important too. Like leave the glasses out for a self timer and take the photo with a phone. Or any way to reduce the amount of loud voice commands in public.<br/><br/>I really hope it fills out and that more details come soon - it&rsquo;s going to be big.<br/></p><blockquote class="twitter-tweet">@<a href="https://twitter.com/charlieegan3" target="_blank">charlieegan3</a> Thanks so much Charlie! We can&rsquo;t wait to get it out there.<br/>— Sarah Price (@sarahpriceless) <a href="https://twitter.com/sarahpriceless/status/302129185609097216" target="_blank">February 14, 2013</a></blockquote><script async="" charset="utf-8" src="//platform.twitter.com/widgets.js"></script><b>-charlie out-</b>
