---
layout: post
title: 'Android Tower Defence: Group Test'
date: '2013-06-22T01:02:19+01:00'
tags:
- tower defense
- games
- mobile games
- android
- in app purchase
- mobile
- app
- apps
- plants vs zombies
- jelly defence
- ea
- popcap
- infinite dreams
- radiant defence
- hexage
- gaming
- genre
- review
- test
- group test
tumblr_url: http://charlieegan3.tumblr.com/post/53553747097/android-tower-defence-group-test
---
<p>I&rsquo;ve not done a review in what feels like a long time, so here&rsquo;s three combined into one. Three of the bigger games in the Tower Defence scene.</p>
<p><strong>Radiant</strong><strong> Defence</strong></p>
<p><a href="https://play.google.com/store/apps/details?id=net.hexage.defense&amp;hl=en" target="_blank">Radiant Defence</a> by <a href="http://www.hexage.net/" target="_blank">Hexage</a> is the first game of the genre I started playing on my phone. It&rsquo;s a really pretty game, the visuals are undoubtably the best of out of the three. The animations very smooth, and backed up on a solid yet sensible color scheme make it a winning combo.</p>
<p>The gameplay&rsquo;s clearly been well thought out too. Players have clear control over the enemies path but is kept nicely in check by a &ldquo;Module&rdquo; ration. This allows route choice to be a key part without allowing overpowered endless &lsquo;zigzagings&rsquo;.</p>
<p>There&rsquo;s a good range of turrets, and while some of the 'essential&rsquo; ones are in-app-purchases, they&rsquo;re cheap as chips and are well worth the fee, especially when given the rest of the game is free. For the record I&rsquo;ve come to basically support this method of monetization in mobile apps and games - but maybe more on that in another post.</p>
<p>The menus and UI are fast and as clean as the rest of the games visuals. I like their reasonably minimalist style, they&rsquo;re also pretty quick which is always nice.</p>
<p>There are some things that bother me about the game - and after a few good train journeys I&rsquo;ve basically stopped playing it.</p>
<p>Firstly there are two types of structure, I&rsquo;m going to call them perishable and non-perishable. If you fail a wave non-perishables are refunded while perishables are not. This means that on the second attempt you have a reduced spending allowance. This makes it harder and harder to the point where you have to restart the mission as a whole. There needs to be a clearer structure refund setup - and one that doesn&rsquo;t make the <em>same wave</em> get any more challenging on repeated failure.</p>
<p>The real reason I stopped playing though was because third last mission ramps up in difficulty too quickly. There&rsquo;s not enough cash or modules to complete it without superhuman insight. Yeah, I admit it, it's basically too hard!</p>
<p><strong>Plants vs. Zombies</strong></p>
<p><a href="https://play.google.com/store/apps/details?id=com.popcap.pvz_row&amp;feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5wb3BjYXAucHZ6X3JvdyJd" target="_blank">Plants vs. Zombies</a> by <a href="http://www.popcap.com/" target="_blank">PopCap</a> (now EA Swiss) is a little more imaginative than the tower defence baseline. Rather than trying to fix a genre that&rsquo;s fundamentally broken (but one I still enjoy) it&rsquo;s aimed to redefine it - and to an extent it has.</p>
<p>It&rsquo;s simpler, waves come in various channels from left to right, you need to cover each to succeed against a very diverse range of enemies. Diversity in fact is where the game really excels, the range of 'towers&rsquo; and enemies is outstanding and really set&rsquo;s it apart from the others.</p>
<p>It also builds up in difficulty well, although perhaps a little slowly. There&rsquo;s a steady stream of unlocks and changes to keep you interested and a shop to choose our upgrade route. If I was to go back to a Tower Defence game today it would most likely be this one - though that&rsquo;s not to say if&rsquo;s my favourite.</p>
<p>However there are some issues that let it down. The graphics are nice in game but the menus feel somewhat dated. Animations have a style of, perhaps, being a little amateur and but it&rsquo;s one that I&rsquo;m not a fan of.</p>
<p>The game&rsquo;s also very slow to load on Android in comparison to the others and saps battery at a far greater rate.</p>
<p><strong>Jelly Defence</strong></p>
<p><a href="https://play.google.com/store/apps/details?id=pl.idreams.jellydefense&amp;feature=search_result#?t=W251bGwsMSwxLDEsInBsLmlkcmVhbXMuamVsbHlkZWZlbnNlIl0." target="_blank">Jelly Defence</a> by <a href="http://www.idreams.pl/en/" target="_blank">Infinite Dreams</a> is my most recent acquisition in the genre. It&rsquo;s a good looking game and would count in my books as a 2.5D game. This requires significantly more power to run so I let it off a little extra power usage and heat.</p>
<p>I&rsquo;d like to say I&rsquo;d played the game a great deal but I haven&rsquo;t, only a few hours in fact. It&rsquo;s basically another that&rsquo;s a little on the difficult side. It, too quickly, becomes excessively hard. There&rsquo;s very little you can do about that either.</p>
<p>If the lack in tower types wasn&rsquo;t enough the lack of any route control makes things very boring and frustrating very quickly. There&rsquo;s two types of enemy, red and blue. There&rsquo;s only one tower that does both types but it&rsquo;s not very good. This means you have to build up two parallel sets of towers. It&rsquo;s very expensive and it&rsquo;s very hard to get the balance right.</p>
<p>It&rsquo;s also expensive to buy outright. So thanks to the lack of any means of a tryout I&rsquo;ve bought a game I don&rsquo;t like.</p>
<p>***</p>
<p>You may have got the impression that I don&rsquo;t really like any of them - and you wouldn&rsquo;t have got completely the wrong end of the stick. I don&rsquo;t think it&rsquo;s the games though, I think the genre itself is flawed.</p>
<p>Enemies are going to need to get tougher, towers are going to need to get better, it&rsquo;s either too easy or too hard. What I&rsquo;m getting at is that there&rsquo;s too few factors to create chance and change in the gameplay and ultimately creates games that are hard to keep playing.</p>
