---
layout: post
title: 'Capable Connections '
date: '2013-02-23T00:30:00+00:00'
tags:
- online gaming
- gaming
- playstation
- network
- ps4
- ISP
- playstation 4
- sony
- internet connection
- social networking
- streaming
tumblr_url: http://charlieegan3.tumblr.com/post/46786199388/capable-connections
---
<p>Earlier in the week sony managed to unveil the new PS4 without showing what it looked like. This apparent lack of detail however was more than made up for by a host of new features. Many of these new features will only be available to a segment PS4 owners: those with a capable connection.</p>
<p>The first feature is a screen sharing option. This allows gamers to share their experience with other players over the internet, and even let other players take over to help them out. They made it very clear that the console was more than capable of this kind of processing with additional dedicated hardware to handle such operations. I’m more worried about the aspects that Sony can’t upgrade. Our internet connections. This kind of feature is going to require a vast amount of bandwidth for to be of any quality worth using. I’d say you’re looking at over 10mbps up - a luxury many homes still lack.</p>
<p>The streaming feature is perhaps a little hardcore, it won’t be used my all users and those on poorer connections will be able to take advantage of the upgraded specs. However should these users want to test out new games it seems they’ll again need a god-level connection. Demos will be streamed down from the moment the user decides to try out a game. This is great and will, connection depending, by a really great feature. However it’s going to be nothing short of frustrating for those with more humble connections.</p>
<p>I think the PS4 will be great. I really like the emphasis on higher specs (though not the garbage reporting on it - <em>“PC level…”</em>). I also like the look of these new network features - I just wonder how many will be able to benefit.</p>
<strong>-charlie out-</strong>