---
layout: post
title: "'Productivity'"
date: '2013-01-06T00:30:00+00:00'
tags:
- omnifocus
- things
- firetask
- 2do
- project management
- post-it
- productivity
- app store
tumblr_url: http://charlieegan3.tumblr.com/post/46786078355/productivity
---
<p><br/>I like to keep organized, I put the few important events there are in my life in my calendar, my calendars + contacts sync and so on - the basics. I keep a task list - on paper and sticky notes though, and have done for some time now. I like to <i>score things off or bin them for real</i> when they&rsquo;re done.<br/><br/>Last year, whilst browsing aimlessly on the Mac App Store I got interested the large market of productivity apps. I was intrigued by the sheer volume of competition and began to tryout popular ones.<br/><br/>All the main contenders: <a href="http://culturedcode.com/things/" target="_blank">Things</a>, <a href="http://www.omnigroup.com/products/omnifocus/" target="_blank">OmniFocus</a>, <a href="http://www.2doapp.com/" target="_blank">2Do</a>, <a href="http://firetask.com/" target="_blank">Firetask</a> have free trials - I tried them all. There are many many more out there too. After a period of about 2 months, 2 months of recording every little task and event I reach a rather boring (but cheap) conclusion.<br/><br/>Things and Things-esque apps are wonderful programs I&rsquo;m sure - but I think they only really be worth their high prices for <i>individuals with immensely more complex lives than myself.</i><br/><br/>That complexity though, I think, would have to come from working with lots of people and in many places. Certainly when it comes to many people, surely solutions like asana, Astrid or even MS Project would offer a little more functionality and support to such a problem?<br/><br/>I&rsquo;m reading a <a href="http://en.wikipedia.org/wiki/The_Mythical_Man-Month" target="_blank">book</a> at the moment on software project management and it&rsquo;s clear that working on team software projects is uncharted territory for me. For these teams and projects I&rsquo;m certain the digital tools out there help a great deal. For me though, with my exams and home work, Post-its will, for now, suffice.<br/><br/><b>-charlie out-</b></p>
