---
layout: post
title: The Deck
date: '2013-04-27T01:02:13+01:00'
tags:
- twitter
- tweetdeck
- tweetbot
- twitter client
- twitterific
- api
- twitter api
- api restrictions
- restricitons
- in house
- interactions
- mentions
- social networking
- scheduling
- microblogging
tumblr_url: http://charlieegan3.tumblr.com/post/48964899063/the-deck
---
<p>There’s a reason twitter bought <a href="http://tweetdeck.com/" target="_blank">TweetDeck</a>. It’s the best twitter client out there. Okay it might not have the best UI, but in terms of features it can do things none of the other native clients can even dream of. It pays when daddy makes the API it would seem.</p>
<p>Local Interactions: Yep, that’s right, not just mentions. This is a real feather in the cap for TweetDeck. It’s a highly desired featured in twitter clients, you only need to read Twitterific’s and Tweetbot’s reviews to find that out. These apps are restrained by the mean API. TweetDeck just work, serving up the content just like the web app and a few handy extras…</p>
<p>Tweet Scheduling: Technically TweetDeck is separate in that you need another account, this means that the app that push up tweets to be tweeted at a set time. Other apps don’t have processes while their host is powered off and so again, is out of reach for now.</p>
<p>Filtered Feeds: I follow around 800 people on twitter, that’s probably too many but it does mean when you’re stuck at the station for day you’re always kept up to date! Anyway, I find there are too many links to chew over, too many stories and reviews to read. So, when I’m trying focus these are very distracting. So I filter them out and only view tweets without links - sorted.</p>
<p>Those are the features that have really helped me. There are load more, some really good tools for people with lots of accounts. And it’s free! *cough* <a href="http://target.georiot.com/Proxy.ashx?grid=13350&amp;GR_URL=https%3a%2f%2fitunes.apple.com%2fus%2fapp%2ftweetbot-for-twitter%2fid557168941%3fls%3d1%26mt%3d12" target="_blank">Tweetbot</a>.</p>
<p>-charlie out-</p>