---
layout: post
title: just a couple of my recently most liked instagram
date: '2013-06-03T01:02:24+01:00'
tags:
- instagram
- photo
- photos
tumblr_url: http://charlieegan3.tumblr.com/post/52013157301/just-a-couple-of-my-recently-most-liked-instagram
---
<img src="http://41.media.tumblr.com/e3cea3c04b2f62a8b001b270f2f40d48/tumblr_mnsb8eAGnP1sn36gbo1_1280.jpg"/><br/><img src="http://36.media.tumblr.com/d5d2955edfe51f5f2113888c0eb382d4/tumblr_mnsb8eAGnP1sn36gbo3_1280.jpg"/><br/><img src="http://40.media.tumblr.com/78631d80170e52e3a77f6aa9036b0cd3/tumblr_mnsb8eAGnP1sn36gbo2_1280.jpg"/><br/><img src="http://36.media.tumblr.com/97de5b378ba519f3fb5a73cd3337c6c0/tumblr_mnsb8eAGnP1sn36gbo4_1280.jpg"/><br/><img src="http://36.media.tumblr.com/4c12d2f37f692a494bbbc604fa6aa863/tumblr_mnsb8eAGnP1sn36gbo5_1280.jpg"/><br/><img src="http://41.media.tumblr.com/31e86557a25e94c2cec9677eded5b24a/tumblr_mnsb8eAGnP1sn36gbo6_1280.jpg"/><br/><br/><p>Just a couple of my recently most liked Instagram photos. It&rsquo;s much easier to take nice photos around home.</p>
<p>I think I might decrease the number of photo posts for a while, try and bring the blog back to a stronger text focus.</p>
