---
layout: post
title: Vender
date: '2013-09-07T01:03:29+01:00'
tags:
- vend
- pos
- web app
- web
- software
- html
- js
- java script
- beanflow.com
- dive center
- web based
tumblr_url: http://charlieegan3.tumblr.com/post/60492049360/vender
---
<p>I’ve spent most of the week (a series of 12 hour days) working with a web application called <a href="http://www.vendhq.com/" target="_blank">vend</a>. It’s a program of my own selection and I was keen to get it working in the small business before I go back to university.</p>
<p>It’s a wonderful piece of software and is just what the business needs. It's fantastically simple to use and has a great set of reports built right in. It also ties in with Xero, the companies accounts web app of my choosing. There’s capacity to marry them all up now and I think given a little time it will happen. It’s just a shame I’m not going to see it happen!</p>
<p>Vend does have some foibles though and there were times when I really worried about it. It’s actually quite locked down.</p>
<p>Firstly you <strong>can’t delete sale data</strong>. Only void it. I guess this makes sense but if there’s a 100 test sales that I fired in during testing then voiding them all is just a pain. You can delete all your data during the trial but after that point there’s no going back with a chat via email to support.</p>
<p>It’s not as easy as it should be to print a long run of barcodes for a lot of products. You need to make a sale order (as if you’d bought in the products and needed to print the labels for them). That method aside there’s no way to print a large number of barcodes. We used generic items to GOOJF on this issue but it’s a far from optimal solution.</p>
<p>Customer files are great but notes don’t have multiple lines for some reason. This makes the notes (a field that we’d used a lot in the old system) really cumbersome. Still, it just shows us: this is not where to store that data - and it probably a good thing.</p>
<p>There’s no option to duplicate a product, this is really quite annoying if you’re adding in loads of similar products in on go as we have been this week. I found however that you can press back after new product posting and edit the data to resubmit a new product with slightly different details. Still, little hacks like that shouldn’t be needed to get the job done really.</p>
<p>It’s basically a pretty quick system but sometimes it really hangs on product editing. I have no idea why that should be. It also went down for about 30mins on Thursday this week. However this doesn’t mean that you can’t make sales. The javascript in the sales page and keep a track of it in local data. I was <em>really</em> impressed by this.</p>
<p>Vend’s support has been okay, once you’re into a ticket you’re laughing but that can take a few hours. With other software I’ve found the service to be faster. Still, there’s always the option of phone support for $39 extra - it’s something the shop might need in the end I fear.</p>
<p>In comparison to other options out there it just blows them out of the water. There was one other option that was only in beta called beanflow.com that looked promising. However, I thought it might be a little cruel to set up the business on a system that was hardly even in private beta! Still, it did look promising. It had built in job tracking that I think might have been quite a nice feature to add in. Still, that said, we have asana.com for that and it’s coping really really well with that just now.</p>
<p>Basically I’d recommend vend. It’s been really good and looks set to totally turn around another small business! However, I'd recommend you have a good grasp of CSV’s and Mapping before you look into migrating over. SKU and barcode knowledge and the time to sort that out is also required to make it work at all.</p>
<p>In short, vend is yet another example that <em>we do not need to be married to</em> archaic native apps and pathetic licences.</p>