---
layout: post
title: monday is meant to be photos day but this weeks
date: '2013-04-30T09:48:05+01:00'
tags:
- photo
- instagram
tumblr_url: http://charlieegan3.tumblr.com/post/49248149548/monday-is-meant-to-be-photos-day-but-this-weeks
---
<img src="http://41.media.tumblr.com/c6b0e7e54a70cac91ca633608f31e1c3/tumblr_mm28g55HNY1sn36gbo1_1280.jpg"/><br/><p>Monday is meant to be photos day but this weeks there&rsquo;s only really one worth posting. This is one of the university library. After next weekend however I think I should have a few more good ones&hellip;</p>
