---
layout: post
title: Surfacing
date: '2013-02-11T00:30:00+00:00'
tags:
- Microsoft Surface
- Microsoft
- tablet
- Surface
- netbook
- note-taking
- student
tumblr_url: http://charlieegan3.tumblr.com/post/46786171012/surfacing
---
<p><br/>I was browsing <a href="http://www.microsoft.com/Surface/en-GB/surface-with-windows-8-pro/specifications" target="_blank">here</a>, taking a little interest in the upcoming Surface Pro from Microsoft when I read this.<br/></p><blockquote class="tr_bq"><blockquote class="tr_bq">64GB*, 128GB</blockquote><blockquote class="tr_bq">*System software uses significant storage space. Available storage is subject to change based on system software updates and apps usage. </blockquote></blockquote>Yeah it&rsquo;s not the most interesting sentence in the world but it left me puzzled. Are Microsoft being honest here or are they pushing you to upgrade? I know that they need this little disclaimer to cover themselves but it seems a little obvious - right there in plain sight rather than tucked away at the bottom in a tiny font. Because of this I reckon it&rsquo;s a push for you to upgrade to the more expensive option - which is really quite expensive&hellip;<br/><br/>Anyway enough of the sales pitch analysis and on the the topic of Surface in General.<br/><br/>I&rsquo;ve started seeing Surface RTs around, there are about 3 people on my course with them (more than opening use iPads in lectures). I was sitting behind one yesterday. It looked quite good - while the text was very small it looked pretty responsive and useful. Much more like a useful netbook than a tablet - but in a tablet form. The keyboard also seemed to be able to produce text pretty quick too - I&rsquo;d like to have a go with it actually. The guy was using a rubber stylus to draw diagrams and then typing on the keyboard - it did look like a bit of a <i>digital note-taking boss!</i><br/><i><br/></i>That said I&rsquo;m happy with my system, more than happy in fact. Still, the next time I&rsquo;m in the centre of town I&rsquo;ll try and look one out in a shop somewhere - give that keyboard a try. *click<br/><br/><b>-charlie out-</b>
