---
layout: post
title: The Internet Wishlist
date: '2013-05-08T01:02:24+01:00'
tags:
- startups
- ideas
- internet
- business
tumblr_url: http://charlieegan3.tumblr.com/post/49892227027/the-internet-wishlist
---
<a href="http://theinternetwishlist.com/">The Internet Wishlist</a><br/><p>Looking for a startup opportunity? Great idea for a blog.</p>
