---
layout: post
title: Nike+ Revisited
date: '2013-09-28T01:03:08+01:00'
tags:
- nike
- running
- gps
- tracking
tumblr_url: http://charlieegan3.tumblr.com/post/62460549196/nike-revisited
---
<p><span>I missed last week - it was move in weekend and I had other things on my mind.</span><img src="http://media.tumblr.com/9a01c293c93060d9cbc0a570c43d0d69/tumblr_inline_mtkwvnfAo31rj8eap.jpg"/></p>

<p>That ^ is a graph of my runs since getting my nike plus sports watch last month.</p>
<p>While the initial burst of enthusiasm has worn off it&rsquo;s still helping me to run more. The two large gaps have been holidays and injuries.</p>
<p>In terms of statistics it&rsquo;s pretty solid. All the information is easy assimilate and seems to be in sensible places. It keeps the UI looking smooth and not too cluttered. Sometimes stats are hard to spot but once you find them  it&rsquo;s clear to see why they are in fact there.</p>
<p>I used <a href="https://mattstuehler.com/lab/NikePlus/" target="_blank">this</a> by blogger Matt Stuehler to export gpx data. Annoyingly this isn&rsquo;t available on the site itself. This meant I could try out some of the other options out there. I tried Strava, Endomondo and RunKeeper. Strava came close and the pro memebership seems to have a projected finish time which would be <strong>really </strong>nice to have in-run. Endomondo and RunKeeper seemed rather feeble. I wouldn&rsquo;t like paying for Strava but I think that it&rsquo;s fair enough, they don&rsquo;t have hardware to subsidise a free service. I&rsquo;m glad I chose Nike+.</p>
<p>The only outstanding issues are:</p>
<ul><li><span>No Public API</span></li>
<li><span>No GPX Export</span></li>
<li><span>Poor Sharing Options - all the others had a public profile type setup and sharable workout links. Nike+, despite billing itself as being </span><em>very </em>sociable, doesn't have these.</li>
<li>Oddly large interface - that looks bad on a retina display.</li>
</ul><p>So we&rsquo;re keeping going with it - 100km down.</p>
