---
layout: post
title: tags
date: '2013-01-27T00:30:00+00:00'
tags:
- hashtag
- twitter
- viral
- emotions
- social networking
tumblr_url: http://charlieegan3.tumblr.com/post/46786129257/tags
---
<p>Not all my friends use Twitter, very few in fact. Even those on my <em>computer science</em> course seem to have little interest in the microblogging service.</p>
<p>Twitter is the second system to be <em>really</em> successful system from <a href="http://plus.google.com/102048265612444661933" target="_blank">+Evan Williams</a>, here, Blogger being the first. While it is extremely successful and has become a major part of online culture it is still widely mis-understood by outsiders as being frivolous and shallow. The main criticism I see is the #hashtag, I get told regularly that it’s totally pointless - I would be inclined to disagree.</p>
<p>While it originated, as many other things, from <a href="http://en.wikipedia.org/wiki/Internet_Relay_Chat" target="_blank">IRC</a>, <a href="http://plus.google.com/102034052532213921839" target="_blank">+Chris Messina</a> coined the idea of the hashtag for Twitter with this <a href="https://twitter.com/chrismessina/status/223115412" target="_blank">tweet</a> in 2007. It has since come to be used for many different things and on many <a href="http://en.wikipedia.org/wiki/Hashtag#Websites_that_support_hashtags" target="_blank">sites</a> - <em>not just Twitter.</em> I think it does have a genuine use, and here’s why:</p>
<p>I would say the most important use is to share in<strong> current discussion</strong>. As I write this #northkorea is currently trending, yesterday it was #EUreferendum. This use is really useful for instantly gauging public reaction and opinion. Due to the sheer volume of the response the response itself often makes the news. This in turn helps raise the profile of important issues.</p>
<p>The another use is<strong> promotion</strong>. This may be part of a company’s marketing or to promote events like #OccupyWallStreet. It’s all about giving people the power to link their public messages to create a powerful global trend. This also has the chance to backfire in the form of a ’<a href="http://www.zideate.com/2/826/implementation/social-media/bashtag-backlash-when-a-hashtag-goes-bad" target="_blank">bashtag</a>’, the classic examples being #quantasluxury and #McStories. This again is important as it means that the companies image is much harder to regulate - complaint’s become public and many complaints become a PR disaster.</p>
<p>So what’s the point in hashtags that don’t get the global interest, never making it to the trending topics?</p>
<p>First would be <strong>promotion for interest</strong> is is the most similar to the above two. Hashtags aid search. Should you be voicing an opinion about something tagging makes that opinion more ‘visible’. From this visibility, smaller scale conversations can take place in somewhat more isolated topic. Here the hashtags bring those users with a common interest together.</p>
<p>They can also be used as a <strong>personal record</strong>. For instance, when was the last time I tweeted about such a topic? Also, some services use them to see your most tweeted topic, mine tend to be: #cold #aberdeen etc.</p>
<p>Finally, the most controversial use: <strong>sophisticated emotion replacement</strong>. This is the one that tends to get the concept its 'bad press’. I still think it’s very useful, here’s why - to help stamp out the <em>global, emoticon ambiguity <a href="http://en.wikipedia.org/wiki/List_of_emoticons" target="_blank">plague</a></em>. For instance: </p>
<p>|-O </p>
<p>means #bored and :###.. means #sick. Not to mention that this: (*^3^)/~☆ means #blowakiss! How can these complex combinations of unicode characters make more sense than a simple <em>english </em>hashtag?</p>
<p>I see <em>why</em> there is hostility to our humble hashtag but think it <em>only</em> comes from a lack of understanding.</p>
<p>Further reading: <a href="http://www.nytimes.com/2011/06/12/fashion/hashtags-a-new-way-for-tweets-cultural-studies.html?_r=2&amp;pagewanted=all&amp;" target="_blank">NY Times</a></p>
<strong>-charlie out-</strong>