---
layout: post
title: An Inbound Biometric Boom
date: '2013-07-06T01:02:44+01:00'
tags:
- biometrics
- authentication
- NFC
- password
- users
- user account
- apps
- technology
- finger print
- facial recognition
- udid
- validation
tumblr_url: http://charlieegan3.tumblr.com/post/54709855993/an-inbound-biometric-boom
---
<p>Imagine an app that verifies a user in some way, username and password right? The username and password combo works just fine when users have a reason to protect their account. They don’t want others posting as them, buying things on their card or reading confidential messages. This is fine and the number of apps that thrive on this functionality is incredible.</p>
<p>That said, there’s a whole category that doesn’t exist yet. <em>There there isn’t a single app that can truly validate human presence</em>, no apps that can actually tell a user is who that have the credentials for. I think it’s a problem we can solve.</p>
<p>Passwords don’t work, users can give their passwords to anyone. So we might as well assume, given a ‘human validator’ app, that users would do just that. There’s no way to detect different humans with this method.</p>
<p>Moving on, you might try and use a an identifying attribute of their phone (UDID). Users are less likely to lend out their phone than a password but if there’s significant gain to be had from it then again need to assume that this would happen. It doesn’t solve the problem - also, what if users get a new phone? Handling all the unlinking would be more trouble that it’s worth.</p>
<p>Facial Recognition might be the next stop but it too is flawed. Firstly the tech isn’t robust or accurate enough yet to be used as a primary method. There always needs to be a password that sits in reserve which brings you back to problem one. Not to mention that they can fall for photos or even other faces in the right light and angle. That wouldn’t do if you were looking for any kind of certainty.</p>
<p>Incorporating another identification scheme is another option. Passport numbers or something similar might be hard to internationalize or negotiate with the original identification service provider. Also, I can’t think of a system that wouldn’t be beaten by lending of ID cards - is there anything one could do with NFC? Certainly not today.</p>
<p>So what’s left? Finger Print readers. They, from what I can tell are the only option that’s going to be possible for the foreseeable future. But there’s a small problem. There’s no widespread use of fingerprint readers in smartphones or tablets - as of now.</p>
<p>Rumours of integration in the next iPhone have surfaced and shrunk back many a time, this year there’s been the most yet. Still it’s one of those things that I won’t believe until launch day.</p>
<p>So there you have it, my prediction if you like. Come the arrival of biometric authentication to mass market devices there’ll a host of new and interesting apps for us to make use of. I’m very much looking forward to that day.</p>