---
layout: post
title: Photos Revisited
date: '2013-02-10T00:30:00+00:00'
tags:
- photo sharing
- istockphoto
- flickr
- deviantart
- photography
- Instagram
tumblr_url: http://charlieegan3.tumblr.com/post/46786167836/photos-revisited
---
<p><br/>I used to take quite a few photos - digital photography and Photoshop were really what got me into computers in the first place. I did have a go at submitting to <a href="http://www.istockphoto.com/" target="_blank">istockphoto</a> with a few of my better ones. They were only ever interested in &lsquo;happy people shots&rsquo; and I didn&rsquo;t like taking pictures of people - so that died off. The next thing was <a href="http://deviantart.com/" target="_blank">deviantart.com</a> a few years later but I got bored of that too and closed my account.<br/><br/>There&rsquo;s been a serious amount of down time on the photo front and I've decide to change that. With my phone I can use sharing services right from that and geotag photos - add an extra dimension.<br/><br/>I&rsquo;ve been looking into <a href="http://www.flickr.com/photos/92984649@N06/" target="_blank">flickr</a> and <a href="http://instagram.com/charlieegan3" target="_blank">Instagram</a><a href="http://www.blogger.com/" target="_blank"><span id="goog_1266169714"></span></a> and now have both. Instagram gets a bad rap but quite frankly has the better app. I&rsquo;ve set up a few IFTTT recipes to sync new photos to flickr and on to Twitter after that to get round the Instagram anti-Twitter policy.<br/><br/>I&rsquo;m liking it so far and have added one new photo (others taken previously) - thinking about trying to do one each day - however I doubt there are that many nice places to photograph on campus.<br/><br/>I like to keep this blog <i>purely </i>text and will not be posting photos on here - there are also storage space limits which I want to remain shy of.<br/><br/><b>-charlie out-</b></p>
