---
layout: post
title: Nonplussed
date: '2013-02-14T00:30:00+00:00'
tags:
- google
- UI
- twitter
- google plus
- facebook
- improvements
- social networking
tumblr_url: http://charlieegan3.tumblr.com/post/46786178335/nonplussed
---
<p>I’m sat here on my phone, they’re all watching football but I’ve been busy on my phone - mainly on Google Plus.</p>
<p>Google Plus for Android is an <em>incredible effort</em> and I’d say it’s the closest thing to what an all purpose social network should be. There is a feature for everything important and a neat layout for every feature.</p>
<p>I’ve often thought that Google Plus has the potential to<em> be all social networks</em>, it can be Twitter or Facebook or somewhere in between. It’s the functionality of Facebook with the simplicity of Twitter - and that’s quite a selling point.</p>
<p>My favourite features must be: hangouts (as calls to my phone), notifications that go away when checked on the desktop (facebook fails here) and how sharing works from apps from other Android apps.</p>
<p>I really wish it was all I had to use but there are some problems:</p>
<ul>
<li>Firstly: circles, they’re a good idea, just poorly implemented. Organising your connections is really handy, however, the separate feeds seriously hinder the feature. There needs to be a better way to sort and view the separate feeds. Because you can share with <em>any combination of connections</em> the feeds can rather awkward, with some posts only showing in all. There should be a tab for each circle and a tab for more ‘exclusive’ shares.</li>
<li>The only other problem is content. It’s all just too well mixed up. Posts from friends, communities etc all get mixed up. Each post is also allocated a significant amount of screen space. This leaves rather a small amount of content on screen which can almost 'detach’ you from the idea that it is in fact a feed at all. They could invest in a more compact twitter like summary feature here to help keep posts of similar size.</li>
</ul>
<p>Google Plus, with the rise of Android, has the potential to really take the crown. Working on the web version UI and a couple of other minor improvements would my first step to getting there.</p>
<strong>-charlie out-</strong>