---
layout: post
title: Tools of the Trade
date: '2013-08-10T01:02:54+01:00'
tags: []
tumblr_url: http://charlieegan3.tumblr.com/post/57833622053/tools-of-the-trade
---
<p>Programs that help lighten the load:</p>
<p><strong>Acronis TrueImage Plus Pack</strong></p>
<p>A common request at the shop is: &ldquo;I want a new computer <em>exactly</em> like my old computer - only faster&rdquo;. This would not be economically possible if it weren&rsquo;t for Acronis TrueImage with plus pack. This has one crucial feature: disk restore <em>with a driver scan. </em>This means you can keep all the same data, <em>programs, licensees and settings.</em> While still pulling in new drivers to run them in the new environment - smart data migration if you like. &lsquo;Universal Restore&rsquo;, as it&rsquo;s called, has made many a happy customer.</p>
<p><strong>Produkey</strong></p>
<p>I don&rsquo;t trust licences - they&rsquo;re an almighty pain. Produkey solves that - it pulls them out of the debris and saves a simple text file. Need to re-activate office? No problem. There are no other tools that do this so quickly and effectively.</p>
<p><strong><span>WhoCrashed</span></strong></p>
<p><strong><span></span></strong><span>Don&rsquo;t have the time to read ntbtlog.txt? No problem, this one does that for you. The only pain is that it needs a to run in a Windows environment - so you&rsquo;ll likely need to take the disk out.</span></p>
<p><strong>Wise Portable Registry Cleaner</strong></p>
<p>It&rsquo;s portable. It doesn&rsquo;t leave remnants and popups on users computers. That&rsquo;s good enough. Not to mention that it&rsquo;s a pretty thorough registry cleaner too. It&rsquo;s fun to tell people you single handedly fixed <em>1500 </em>registry errors!</p>
<p><strong>Autoruns</strong></p>
<p>An <strong>essential</strong>! An absolute must. This is the first stop in the tune up routine. Get rid of auto starting bloatware - fast! It&rsquo;s easy to clean out everything from scheduled tasks to hidden startup processes. You&rsquo;ll find you can easily create Blue Screens if you&rsquo;re not careful so don&rsquo;t go overboard. Also, some actually like the 'Ask Toolbar Updater&rsquo; - watch out for that too.</p>
<p><strong>driveridentifier.com</strong></p>
<p>A catalogue of links to the source - it&rsquo;s free to download directly from the manufactures. Solves the serious problem of maze-like OEM support sites. Note - <em>it&rsquo;s not pretty</em>, but also, and more importantly, not a scam.</p>
<p><strong>Ninite</strong></p>
<p>Install the essentials in on fell swoop. Update java, flash - the lot all in a oner. It&rsquo;s a really handy one for setting up new PC&rsquo;s. I only wish it had even more options - it&rsquo;d be nice to have ESET in the AV list of options.</p>
<p><strong>GetDataBack</strong></p>
<p>It&rsquo;s not cheap but can help generate very happy customers! It scans for lost data and does an incredible job of recovering dead fragments. The only downside is the cost - it&rsquo;s about £140&hellip;</p>
<p>***</p>
<p>So there you have it - a list of incredible tools for setting up and fixing computer problems to add to the old favourites.</p>
