---
layout: post
title: PopClip
date: '2013-03-05T00:30:00+00:00'
tags:
- PopClip
- Mac App
- iOS
- osx
- Mac App Store
- extensions
- app
tumblr_url: http://charlieegan3.tumblr.com/post/46786222074/popclip
---
<p>I’m not a big iOS fan but I’d heard good things about an app that further blurs the line between the iOS and OSX: <a href="http://pilotmoon.com/popclip/" target="_blank">PopClip</a>. When I say it featured on <a href="http://lifehacker.com/5985248/top-10-underhyped-mac-apps" target="_blank">lifehacker</a> I finally decided to get it.You think it’s certainly not as useful as you might be led to believe but then you realize the <a href="http://pilotmoon.com/popclip/extensions/" target="_blank">extensions</a> and that all changes.There are absolute loads out there - more than enough to choose from. These are my favorites:</p>
<ul>
<li>Case Changers. A feature OSX apps lack when compared to MS Office is a simple case changer. PopClip and it’s ‘Text Transformation’ extensions change that.</li>
<li>Sort. This takes in a number of lines, removes any duplicates, and returns the unique values in lexicographical order.</li>
</ul>
<p>So it’s not me going over to the iOS way - just getting some extra features that’s all. It’s certainly a lot better than the comparable feature in iOS.</p>
<p><strong>-charlie out-</strong></p>