---
layout: post
title: NSThread sleepForTimeInterval
date: '2013-10-10T14:55:02+01:00'
tags: []
tumblr_url: http://charlieegan3.tumblr.com/post/63643600937/nsthread-sleepfortimeinterval
---
<p>Just a note: I’m putting the blog to bed for a little while. All current efforts are spent on <a href="http://clime.co" target="_blank">clime.co</a>, a personal project I have undertaken.</p>
<p><em>“Wake me when you need me”</em></p>