---
layout: post
title: '100'
date: '2013-03-08T00:45:00+00:00'
tags:
- '100'
- blog
tumblr_url: http://charlieegan3.tumblr.com/post/46786229522/100
---
<p><br/></p><div class="p1">Here it is, my 100th blog post.</div><div class="p2"><br/></div><div class="p1">I&rsquo;m surprised it&rsquo;s lasted this long actually and while I&rsquo;ve thought about cutting back many times I think that time has come. I&rsquo;m able to put in the time but I feel my new posts are lacking in the quality and depth of my <a href="http://www.charlieegan3.com/2012/12/coequal-contestants.html" target="_blank">early</a> posts. </div><div class="p1"><br/></div><div class="p1">I&rsquo;ve also taken a little look around, very few bloggers, single handedly, keep up a daily blog. I think theres&rsquo;s a good reason for that.</div><div class="p2"><br/></div><div class="p1">So here&rsquo;s the plan: once weekly, more promotion and to a higher standard.</div><div class="p2"><br/></div><div class="p1">I&rsquo;ll aim to push new posts on Saturdays, starting tomorrow, 9th March 2013.</div><br/><b>-charlie out-</b>
