---
layout: post
title: "#ifihadglass"
date: '2013-02-25T00:30:00+00:00'
tags:
- running
- ifihadglass
- glass
- project glass
- endomondo
- google glass
- hud
tumblr_url: http://charlieegan3.tumblr.com/post/46786203498/ifihadglass
---
<p><br/>Google recently opened up a <a href="http://www.google.com/glass/start/how-to-get-one/" target="_blank">competition</a> to bring in some fresh ideas on how you imagined the use of the new product could be. However it&rsquo;s only open to those in the states so I started a thread here <a href="http://forums.macrumors.com/showthread.php?p=16878016#post16878016" target="_blank">instead</a>. There&rsquo;s some other ideas, mainly just jokes though, posted there. Here&rsquo;s mine.<br/><br/>I have a sports tracker app called <a href="http://www.endomondo.com/login" target="_blank">Endomondo</a>, it&rsquo;s much like others available such as RunKeeper and Nike+. They all basically use the GPS in your phone to measure your distance, speed, elevation and so on. The stats that you get after (or during) a run are pretty good - plenty of detail in there. However, for me at least, it&rsquo;s set back be the need to keep checking the screen. Certainly if you&rsquo;re trying to keep up a certain work rate/pace.<br/><br/>Anyone who&rsquo;s ever been running knows that reading a watch is hard enough, let alone a 5.5&quot;smartphone. This is where Google Glass comes in.<br/><br/>Imagine if it looked like <a href="http://forums.macrumors.com/attachment.php?attachmentid=398340&amp;d=1361380425" target="_blank">this</a> instead, that&rsquo;s my mockup of Endomondo for Glass. Instead of needing to check the screen the &rsquo;<a href="http://en.wikipedia.org/wiki/Head-up_display" target="_blank">HUD</a>&rsquo; is always there. It moves with your head meaning that it&rsquo;s not blurred either.<br/><br/>Personally I think this is how Glass could be most useful to me - I really hope it can work this way.<br/><br/><b>-charlie out-</b></p>
