---
layout: post
title: A Greater Spotify to Come?
date: '2013-01-13T00:30:00+00:00'
tags:
- itunes
- spotify
- new features
- music industry
- improvements
tumblr_url: http://charlieegan3.tumblr.com/post/46786095640/a-greater-spotify-to-come
---
<a href="http://www.spotify.com/uk/help/faq/purchases/download-store-changes/" target="_blank">Recently</a> Spotify took their music download service offline. This worried me a little, I use Spotify as a kind of <em>grande store of full previews.</em> I then buy 100 tracks for 50p each a few times a year from a playlist I build up.
<p>I now believe the plan is <em>not</em> in fact to remove the service but instead change it. Spotify has poor record for <a href="http://4.bp.blogspot.com/_qzEYq1W0kGc/S8fOdhQ4m3I/AAAAAAAABIE/yseFnPAov94/s1600/selling_out_550.png" target="_blank">equality</a> and I really hope this isn’t a move to make a little extra on those bargain downloads.</p>
<p>I’m all in favor of system improvements but with their music downloads I saw nothing to improve. The system seemed solid and sufficiently different to attract new users. I also think if I noticed that Spotify will have too, and they might be interested in making some earning alterations before it gets more mainstream.</p>
<p>Still, lets think positive for now, lets hope that it’s even cheaper or there are some nice extra options like you get a few free ones per month and have to pay per each extra at the same rates as before - much like a mobile tariff.</p>
<p>Spotify is a great service - and while it can be a little more buggy than iTunes it does seem to just work, lets hope it remains that way.</p>
<strong>-charlie out-</strong>