---
layout: post
title: Koding
date: '2013-05-01T01:02:21+01:00'
tags:
- coding
- koding
- development
- web app
- beta list
- betalist
tumblr_url: http://charlieegan3.tumblr.com/post/49315578064/koding
---
<a href="https://koding.com/">Koding</a><br/><p>Signing up for <a href="http://betali.st/" target="_blank">betalist</a> email updates has been quite an enlightening experience - this is one that caught my attention. Sign up for early access, it might just be the next big web app for developers.</p>
