---
layout: post
title: Nike+d
date: '2013-08-24T01:02:45+01:00'
tags:
- nike+
- nike
- running
- gps
- motivation
- tracker
- sports
- nike fuel
tumblr_url: http://charlieegan3.tumblr.com/post/59147176144/nike-d
---
<p>Last weekend I bought <a href="http://www.amazon.co.uk/gp/product/B007PBJXV4/ref=oh_details_o01_s00_i00?ie=UTF8&amp;psc=1" target="_blank">this</a> - the Nike+ sports watch. Here’s the first impression.</p>
<p>It’s not overly big, but too large to be a normal watch. It’s heavy enough to notice but not by enough to make it awkward. Basically it’s about as big as it could be without being awkward. The strap is a little stiff and can be a little fiddly to fit on. On the other hand it’s a very secure fit.</p>
<p>It’s really simple to use, really simple and seems to be quite quick to find a link to GPS satellites, about 20 seconds. It’s got a good range of display options, including current pace - the reason I couldn’t get a <a href="http://www.amazon.co.uk/Garmin-Forerunner-Enabled-Unisex-Sports/dp/B003EG83LK" target="_blank">Garmin 110</a>. They’re easy to set using the App that works on both PC and Mac just fine.</p>
<p>It’s easy to pause and resume workouts and the display is easy to read while running. Other than a few daft little congratulatory messages it’s a very clean experience. <strong>It truly does just work.</strong></p>
<p>Syncing is just about as easy. Plug it in, open the watch and download the software at the link. It gets updates and things for the watch which is nice to have. I like to know that there’s support out there! Someone checking up on the device. It’s then all available on the Nike+ website and on the app on my phone.</p>
<p>It’s a nice site and app, again, very simple. I might go as far to say that, in this department it is a little lacking in features. I’d like to see more detailed personal bests for a wider range of distances, rather than the current badge type idea. The maps are great though, far nicer than endomondo or Strava. Having the pace on the route is a real nice feature. I love it.</p>
<p>The only other little niggle with the site is the sharing. I’d like to be able to share a link to my profile, much like I can share a link to my <a href="https://twitter.com/charlieegan3" target="_blank">Twitter</a>. However if I try to share <a href="http://nikeplus.nike.com/plus/profile/charlieegan3/" target="_blank">http://nikeplus.nike.com/plus/profile/charlieegan3/</a> it’s clearly not accessible to the outside world… A bit of a shame if you ask me.</p>
<p>Basically I’m very happy with it. 5 stars without a doubt. It’s given me the energy to get out and get running a little more which is great. If I can gather some stats doing so then that’s all the better. A truly great product.</p>