---
layout: post
title: bidvoy
date: '2013-04-10T01:02:15+01:00'
tags:
- beta list
- bidvoy
- beta
- start-up
- ebay
tumblr_url: http://charlieegan3.tumblr.com/post/47577430551/bidvoy
---
<a href="http://uk.bidvoy.net/">bidvoy</a><br/><p>Value your products based on their eBay ending price - via <a href="http://betali.st/" target="_blank">Beta List</a></p>
