---
layout: post
title: Wearable Extensibles
date: '2013-02-21T00:30:00+00:00'
tags:
- future.
- pebble
- smartwatch
- wearable tech
- smartphone
- google glasses
tumblr_url: http://charlieegan3.tumblr.com/post/46786194451/wearable-extensibles
---
<p><br/></p><div class="p1"><i>Wearable Tech </i>is getting a lot of attention at the moment - I guess I might as well join in.</div><div class="p2"><br/></div><div class="p1">I think the selling point for me is the handsfree and minimalist scent to the idea - as well as it acting as an extension of our current phones and tablets. I get criticised for this by people I know, I like to solve problems with more tech purchases - this is one of those problems. </div><div class="p2"><br/></div><div class="p1">I have one of the largest smart phones you can get, the <a href="http://bit.ly/15q7Khx" target="_blank">Galaxy Note 2</a>. It&rsquo;s a fantastic phone when you&rsquo;re using it but a little bit of a pain when you&rsquo;re pocketing and unpocketing it. The idea of being able to switch tracks, check the time and pause my run with a smart watch is very attractive. Being able to evaluate the importance of a notification blip would be great. However I think there is more to come from wearable tech, more to come in the form of Google Glasses.</div><div class="p2"><br/></div><div class="p1">As far as I know Google Glasses work as a standalone device, that said I don&rsquo;t see why it can&rsquo;t act as, or have a cheaper version that acts as a smartphone extension. Using the conniptions, setting and data from the parent phone or tablet the Glasses could be extremely useful. Applications such as camera trigger come to mind. Instead of a loud &lsquo;Take a photo of this&rsquo; you could simply press a virtual shutter on your phone. It would work both ways, sometimes the Glasses assisting the phone, other the phone as siting the Glasses, as in the example above.</div><div class="p2"><br/></div><div class="p1">I think the set with Google Glasses, smartwatch and smartphone would be the ultimate combination. All communicating and assisting each other, and in turn the user!</div><br/><b>-charlie out-</b>
