---
layout: post
title: 'Divshot: Interface Builder for Web Apps'
date: '2013-04-19T01:02:31+01:00'
tags:
- css
- bootstrap
- divshot
- html
- web app
- coding
- coding tool
- tools
- Online tools
- beta
- start-up
tumblr_url: http://charlieegan3.tumblr.com/post/48315457634/divshot-interface-builder-for-web-apps
---
<a href="http://www.divshot.com/">Divshot: Interface Builder for Web Apps</a><br/><blockquote class="link_og_blockquote">
<div>Divshot is a revolutionary drag-and-drop interface builder that exports to clean HTML and CSS.</div>
</blockquote>
<p>This is totally changing the way I work on my Rails Projects - it&rsquo;s incredible for us slow CSS'ers.</p>
