---
layout: post
title: "...when a Class comes together"
date: '2013-08-17T01:02:43+01:00'
tags:
- tweets
- rushpost
- last minute
tumblr_url: http://charlieegan3.tumblr.com/post/58461381514/when-a-class-comes-together
---
<p>I’ve been programming in the evenings this week - these tweets sum up my weeknights and help explain lack of an original post.</p>
<blockquote>
<p>I love it when a Class comes together.— Paul Haddad (@tapbot_paul) <a href="https://twitter.com/tapbot_paul/statuses/365176535864442883" target="_blank">August 7, 2013</a></p>
</blockquote>
<blockquote>
<p>MY CODE FINALLY FUCKING WORKS SO EVERYTHING IN MY LIFE IS AMAZING RIGHT NOW— Sara Mauskopf (@sm) <a href="https://twitter.com/sm/statuses/366006239269888000" target="_blank">August 10, 2013</a></p>
</blockquote>
<blockquote>
<p>I’m editing some text for a friend, it’s almost 10pm and I’m enjoying it. What the heck is wrong with me?— David Ellis (@DavidEllis) <a href="https://twitter.com/DavidEllis/statuses/367145799299252225" target="_blank">August 13, 2013</a></p>
</blockquote>
