---
layout: post
title: Disciplined Discussion
date: '2013-02-03T00:30:00+00:00'
tags:
- twitter
- forum
- suggestion
- idea
- online chat
- discussion
tumblr_url: http://charlieegan3.tumblr.com/post/46786149146/disciplined-discussion
---
<p>There are so many different place for us to talk about everything and anything that interest us online. Forums, Twitter, Disqus other comment systems all allow for the mass discussion that is the internet. It's incredibly important that this exist, this exchange is partly what makes the internet great. There are drawbacks though - not with the system but with the ‘level’ of discussion these services foster.There is no problem with the 'lite’ discussion on places like Twitter or YouTube video comments but this style of un-invested conversation largely occupies other mediums too - my regular forum being one of them. I would like to make a proposal: a new place for structured and considered online discussion.</p>


<p>This place would harbour considered conversation. There would be no frivolous comments, only carefully considered positions would make in on. Users would either be verified by their blog/writing or the site could just have many user controlled moderation tools (flag, suggest etc.).</p>


<p>There are two sites that deserve a mention on the topic. <a href="http://branch.com/" target="_blank">Branch</a> is the first, it’s not unlike the description above but had some problems - I found at least. There main for me was that people needed to be invited to the discussion - there was no way to post your link/idea and have others comment on it. This was a major let down for me. Conversations, when started should be either: <em>Public</em> or <em>Private</em>, <em>Open</em> or <em>Closed</em>. This would give you the option of showing your discussion, like in Branch but not letting others join without invitation. Or having a totally open discussion moderated by the members of that conversation. I would say that it’s important that you have the option to anyone - that’s part of the beauty.</p>


<p>The second site is <a href="http://stackoverflow.com/" target="_blank">stackoverflow</a> - possibly my favourite website. This is clearly for a certain type of discussion but other sites can learn from its system. The moderation is first rate - many experienced members are always editing posts and locking them to prevent 'me too’ comments. There is the option to take a comment discussion to a private chat to sort out an issue which keeps the public content readable. Finally, the structure of question and answer is well done - it’s helped by the voting and acceptance system. There’s something we can all take away from it that’s for sure.</p>

<blockquote>A new place for structured and considered online discussion.</blockquote>
<strong>-charlie out-</strong>
