---
layout: post
title: Personal Analytics
date: '2013-04-06T06:01:09+01:00'
tags:
- analytics
- automation
- blogger
- foursquare
- gmail
- google docs
- IFTTT
- itunes
- logging
- spotify
- twitter
- lastfm
tumblr_url: http://charlieegan3.tumblr.com/post/47253690276/personal-analytics
---
<p><strong><br/></strong>I read an article by the mind behind <a href="http://www.wolframalpha.com/facebook/" target="_blank">this</a>. It, combined with IFTTT&rsquo;s automation tools for the internet led me to thinking I could do a better job - for me. I think that, certainly some think it&rsquo;s a big waste of time, even a little odd, but I like recording things. Spending so much time online there is a vast amount of activity for me to log - I thought I&rsquo;d have a go, in the future it might be quite interesting.</p>

<p>I started with logging my Foursquare check-ins. This has already been fun to look at, I have it recorded on my calendar and in a Google Drive Spreadsheet. This means that I can know see exactly which day it was I went to wherever it was. So far it&rsquo;s only been actually useful once, however, the more data I gather (effortlessly) the more likely it is to be of use or interest.</p>

<p>Next up was Spotify plays, it&rsquo;s always bothered me that Spotify doesn&rsquo;t make a users play available. They are logged, and are available via applescript, but they aren&rsquo;t shown. This made me get last.fm and take a new approach to play count logging. I can now log every play of every track I ever play, from iTunes or Spotify in a Google spreadsheet. Some people might not find this interesting in the slightest, I agree it&rsquo;s far from useful. Still I like the idea that in future I&rsquo;ll be able to look back on it all. Maybe if I ever get better at Excel I&rsquo;ll be able to pull out some interesting facts.</p>

<p>Other I&rsquo;ve tried recording other services, like Gmail, Twitter and Blogger, but I run these just more as a backup or test. I think understand it might be seen as a little odd - this is acceptable, it kind of is I guess. However with tools like IFTTT all the logging is totally automated, and doesn&rsquo;t take me <strong>any</strong> time at all. So I guess the thinking was: <em>why not?</em></p>
<p><strong><br/></strong><strong>-charlie out-</strong></p>
