---
layout: post
title: Steaming Ahead
date: '2013-07-27T01:03:00+01:00'
tags:
- app store
- drm
- digital distribution
- apple
- google
- steam
- valve
- app
- apps
- games
- developers
- competition
tumblr_url: http://charlieegan3.tumblr.com/post/56558354043/steaming-ahead
---
<p class="p1">I&rsquo;ve got a real issue with app stores. I think they&rsquo;re great, incredible even. I totally agree with what they&rsquo;re trying to achieve, only, <strong>not</strong> in the <em>rather lazy</em> way in which content hosts are going about implementation. App Stores are, in too many places, little more than the bare minimum.</p>
<p class="p1">There&rsquo;s one reason for this, and it&rsquo;s set to stay this way. There&rsquo;s no competition. If you want an iOS app you must use the Apple App Store, and getting an app from anywhere but the Play store is all but unheard of. There&rsquo;s no pressure to make the experience better, no motivation to innovate. And certainly on iOS, Apple try their hardest to <a href="http://news.cnet.com/8301-13579_3-57579631-37/appgratis-tries-petition-to-shame-apple-on-app-removal/" target="_blank">stamp out</a> any other attempts. These better thought-out App Markets are an embarrassment to them. Sadly the response is removal, rather than change.</p>
<p class="p1">SO we&rsquo;re left with a cold-bare-bones content delivery system. Anyway, this post is about one that does somewhat stand out, an &lsquo;App Store&rsquo; from before <em>the </em>App Store: Steam.</p>
<p class="p1">Steam&rsquo;s somewhat wiser than the newcomers, and it&rsquo;s experience really shows. It <em>is</em> up against competition though, retail. Thanks to that it&rsquo;s really needed to be quite special to get noticed and adopted.</p>
<p class="p1">Firstly it&rsquo;s a much nicer place to shop. There are filters, not like though of Amazon or Ebay but search options that put Play and the Apple store&rsquo;s to shame. There&rsquo;s vast amounts of content on all of these stores - there needs to be a realistic way for people to browse. Steam&rsquo;s the only one at the moment that seems to be even attempting that! Sorting and filtering of any kind any where else is little more than a joke - endless lists, shoddy categories, poor sort criteria…</p>
<p class="p1">I&rsquo;m not going to come out and say that the aim of a good app store is &ldquo;Impulse Buy Incitement&rdquo; but steam&rsquo;s system of sales and reductions really do work! In the last week I&rsquo;ve twice been notified of a game on sale and that that lead to a purchase on my part. Google doesn&rsquo;t offer wish list notifications, Apple doesn&rsquo;t even have a wish list…</p>

<p class="p1">Ideally I&rsquo;d like to see <strong>Monopoly App Stores ruled as anti-competitive behaviour</strong> to insight a bit more interest and innovation in the area - letting digital distribution live up to it&rsquo;s promise.</p>
