---
layout: post
title: In Tech We Trust
date: '2013-01-23T00:30:00+00:00'
tags:
- eula
- terms
- service
tumblr_url: http://charlieegan3.tumblr.com/post/46786118363/in-tech-we-trust
---
<p>A tiny percentage of users read service updates, and next to none read the terms and conditions of service. Because of this there is a great deal of trust invested in online services. We don’t really know what’s going on with our data - not because it’s withheld from us but because we don’t bother to find out.</p>
<p>There are (just) enough people out there who do take an interest in internet privacy to keep things under control however. There is also the idea that if any plan (no matter how tempting) that took advantage of users got found out it could put an end to that service and brand very quickly.</p>
<p>While I think that this ‘safeguard’ threat to providers is enough I also think that we could really do with simplifying terms of service and EULAs across the board. It’s just impractical to read tens of thousands of words before every action online - completely impractical.</p>
<p>Even if the detail is required to cover providers legally there should at least be a summary or break down that can easily be skimmed in under a minute.</p>
<strong>-charlie out-</strong>