---
layout: post
title: Syntactic sugar is great, up until the point where you get semantic diabetes.
date: '2013-04-26T01:02:32+01:00'
tags:
- syntax
- semantic
- programming
- joke
tumblr_url: http://charlieegan3.tumblr.com/post/48889567863/syntactic-sugar-is-great-up-until-the-point-where
---
<blockquote>Syntactic sugar is great, up until the point where you get semantic diabetes.</blockquote>&#8212;This made me laugh - via <a href="https://twitter.com/mattmight/status/326753913883725824" target="_blank">@mattmight</a>
