---
layout: post
title: Terminal at Folder
date: '2013-02-08T00:30:00+00:00'
tags:
- lion
- shortcut
- terminal
- osx
- context menu
- sublime text
- mountain lion
tumblr_url: http://charlieegan3.tumblr.com/post/46786163502/terminal-at-folder
---
<p>Say goodbye to <code>cd rails-app</code> and embrace the future of terminal!This little adjustment has probably saved me hours over the past few months and is a must for any programmer.</p>
<ol>
<li>Open<em> System Preferences.</em>
</li>
<li>Open the <em>Keyboard</em> preference pane.</li>
<li>Choose the K<em>eyboard Shortcuts</em> tab at the top</li>
<li>Then find and select <em>Services</em> on the left.</li>
<li>Then find and check the <em>New Terminal at Folder</em> item.</li>
</ol>
<p>Now the services menu when right-clicking on a folder contains <em>New Terminal at Folder.</em></p>
<p>I’ve also found the terminal built into <a href="http://www.charlieegan3.com/2012/12/sublime-service.html" target="_blank">Sublime Text 2</a> quite handy recently.</p>
<strong>-charlie out-</strong>