---
layout: post
title: "'Hacking' CSS & HTML"
date: '2013-04-20T01:02:08+01:00'
tags:
- html
- css
- divshot
- web apps
- ui
- Online tools
- ruby on rails
- rails
- design
- bootstrap
- twitter
tumblr_url: http://charlieegan3.tumblr.com/post/48394085280/hacking-css-html
---
<p class="p1"><span>I&rsquo;m working on a Rails project in my own time, it&rsquo;s just something for fun really. I love Rails, I&rsquo;m totally addicted. I am, after a few months, finally starting to feel like I can get real work down and create something genuine and interesting. I have a problem - a problem that is about <a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller#Component_interactions" target="_blank">33.3%</a> of my time:</span><span>  </span><span>Views.</span></p>
<p class="p1">Views are crucial - and I never seem happy with them just showing the information in plain text. I think how you visualise that output data is crucial to better understanding your own applications goals. There is a problem here thought, I&rsquo;m addicted to CSS as well as being rather incompetent in the field. I get hooked on making it look just right - leaving loads of other more important errors in the background - while I fiddle away at getting shadow just right. Only to decide I actually don&rsquo;t want a box shadow any more!</p>
<p class="p1">Last week I stumbled across a web app called <a href="http://www.divshot.com/" target="_blank">Divshot</a>. It&rsquo;s there for people like me, to help us rustle up a quick and beautiful html page. I&rsquo;ve created, from scratch, all the crucial page over again in <a href="http://www.divshot.com/" target="_blank">Divshot</a> - it&rsquo;s been great fun, it makes me feel like a design pro - still 8 pages took all last weekend&hellip;</p>
<p class="p1">I&rsquo;m aware of an issue - I&rsquo;m my site, while with the additional style looks quite different, is, at heart twitter. I&rsquo;m referencing the twitter bootstrap css files and I&rsquo;m not too keen on that. Sure it&rsquo;s great, and all but if I had put hard work into making a stunning CSS file I wouldn&rsquo;t necessarily want others using it it boost their own production. It seems they&rsquo;re fine with it though, I guess there&rsquo;s nothing they can do to stop people. I still feel a little bad about it.</p>
<p class="p1">I&rsquo;ve been able to justify it however I think it&rsquo;s a rare case. There aren&rsquo;t many creations that can be so easily replicated and implemented into work to look like your own. True their name is on the reverenced sheet but how many users look there? They&rsquo;ll just think it&rsquo;s me.</p>
<p class="p1">So I&rsquo;d like to thank <a href="http://twitter.com/mdo" target="_blank">@mdo</a> &amp; <a href="http://twitter.com/fat" target="_blank">@fat</a> for a beautiful site - thank you.</p>
<p class="p1"><strong>-charlie out-</strong></p>
