---
layout: post
title: Play Music [Review]
date: '2013-05-25T01:02:10+01:00'
tags:
- google play
- play music
- music
- streaming
- itunes
- Spotify
- lastfm
- smart playlist
- playlist
tumblr_url: http://charlieegan3.tumblr.com/post/51261284304/play-music-review
---
<p>After watching the Google IO/13 keynote last week was reminded of the existence of Play Music. I’d originally not bothered with it when I found that the old client would upload through the university’s proxy. Now however it seemed to work and I thought it was worth trying out.</p>
<p>The uploader isn’t great, it’s error reporting works but it quite clunky feeling. It would also be fine if it was more of an app that sat in the dock while it was uploading. To me at least there doesn’t seem to be any advantage of having it running out of the menubar - I was never going to leave it running the whole time.</p>
<p>I uploaded about 1400 songs, it took a few hours but they’re all up there now. A few songs didn’t upload, ones with DRM and some others in format’s it wouldn’t accept. I didn’t mind that but it also told me about 5 songs were empty - they weren’t as iTunes managed to play them fine - that was a little annoying.</p>
<p>The service, once you’ve gone through the hassle of uploading, is basically good and it’s certainly the best way to get your music onto an Android device. The web player is good as well as the app. Both seem to be a little lacking in features like user controlled smart playlists.</p>
<p>Another slightly odd feature was the like/dislike options. I can understand ratings in iTunes but if you’ve got a song in your library why would you say you dislike it. Surely the reason it’s in you library is because you like it already? Quantifying that with star ratings is cool, but disliking a song you’ve already own seems a little off.</p>
<p>The phone app on the other hand is almost perfect really. It does it’s job very well and the option to save songs on the device is well implemented.</p>
<p>All in all it’s not going to replace iTunes or Spotify for me yet (Yet I am currently listening to my music from it). It’ll need last.fm integration before that happens.</p>