---
layout: post
title: Kickstarting
date: '2013-08-31T01:03:09+01:00'
tags:
- kickstarter
- nfc ring
- nfc
- crowdfunding
tumblr_url: http://charlieegan3.tumblr.com/post/59816715790/kickstarting
---
<p>I was wary of kickstater for quite some time - It didn&rsquo;t stock much in the idea. I guess I saw it as being a little risking in the beginning.</p>
<p>As of yesterday however I&rsquo;ve now backed two projects: <a href="http://www.kickstarter.com/projects/mclear/nfc-ring" target="_blank">NFC Ring</a> and <a href="http://www.kickstarter.com/projects/556341540/pressy-the-almighty-android-button" target="_blank">Pressy</a>.</p>
<p>There&rsquo;s something quite satisfying about the experience. Not only to you get a truly innovative gadget but you feel that you&rsquo;re helping set someone up for good, helping introduce some new talent and ideas into the industry.</p>
<p>Despite having yet to receive my NFC ring my experience so far has been very positive with the whole affair. I&rsquo;ll be sure to put up a full review of each when they arrive.</p>
