---
layout: post
title: Finder's Fine
date: '2013-03-06T00:30:00+00:00'
tags:
- tabs
- pathfinder
- osx
- espresso
- cocoatech
- binaryage
- Finder
- tabbed
- improvements
- totalfinder
- macrabbit
tumblr_url: http://charlieegan3.tumblr.com/post/46786224485/finders-fine
---
<p><br/>For those of you who don&rsquo;t know what Finder is, see <a href="http://en.wikipedia.org/wiki/Finder_(software)" target="_blank">here</a>.<br/><br/>Finder has some problems - but I&rsquo;d never want to even upgrade it or even replace it.<br/><br/>I got a license for and app called &rsquo;<a href="http://totalfinder.binaryage.com/" target="_blank">TotalFinder</a>&rsquo;, it was part of a larger bundle in which I also got <a href="http://macrabbit.com/espresso/" target="_blank">MacRabbit&rsquo;s</a> <a href="http://www.charlieegan3.com/2012/12/where-but-to-web.html" target="_blank">Espresso</a>, one the best apps I own. I installed it and used it passively for quite some time. It was only taking a moment to think yesterday that I realized I never used the tabs feature and I knew that it has a dropbox folder bug that was bothering me. I got rid of it and I&rsquo;m much happier to be back to the default finder.<br/><br/>There&rsquo;s no need for tabbed browsing in that way for the mac files system. Certainly not for me. If you were working with a file system all day you might want some extra features like those offered in <a href="http://cocoatech.com/pathfinder/" target="_blank">Path Finder</a> by Cocoatech. I can see some of it&rsquo;s features being quite handy for sysadmins.<br/><br/>However, I&rsquo;d say for the rest of us, venturing beyond the default Finder might be a waste of time and money.<br/><br/><b>-charlie out-</b></p>
