---
layout: post
title: Integrate to Automate
date: '2013-01-21T00:30:00+00:00'
tags:
- API
- social networking
tumblr_url: http://charlieegan3.tumblr.com/post/46786113861/integrate-to-automate
---
<p><br/>Similar to the topic of my last post, this ones another suggested social network improvement: Automation. I know the two could have come together in a joint post but I&rsquo;d not really thought of this until today. I think that there is potential for more capable APIs to allow a much greater variety of use in out social networks.<br/></p><div class="p2"><br/></div><div class="p1">To some extent they already talk to one and other, for example foursquare tweets my new mayorships. But I think we need a lot more control on network cross posting. </div><div class="p2"><br/></div><div class="p1">There is a service called <a href="https://ifttt.com/" target="_blank">IFTTT</a> that is aimed at exactly this. I use it to post all my blog posts to my LinkedIn for example. However the service is crippled, in my opinion, by some really restrictive APIs. Google+ doesn&rsquo;t even have a one!</div><div class="p2"><br/></div><div class="p1">I think that while there is potential for more spam traffic with these suggestions that all the companies involved deal with greater and more complex problems everyday. I think that there should be much more (optional) talk between these services.</div><div class="p2"><br/></div><div class="p1">The more content the better, even if it did come from another network first.</div><div class="p2"><b><br/></b></div><div class="p1"><b>-charlie out-</b></div>
