---
layout: post
title: Full-on Typos
date: '2013-03-30T00:30:00+00:00'
tags:
- gbt
- swype
- error
- dictation
- gesture based typing
- typo
tumblr_url: http://charlieegan3.tumblr.com/post/46786239808/full-on-typos
---
<div class="p1">While I send the majority of emails and communication by typing out messages on a Qwerty keyboard I’m sending more and more from my phone by the week. I’m also using dictation to type longer documents when I’m alone. On my phone I use a the Swype keyboard, I swear by gesture based typing in fact. However Dictation and GBT can lead to some rather extreme typos.</div>
<p></p>
<div class="p1">Originally there mistkes would look like that, missing or swapped letters and bad punctuation. Now though spelling mistakes are taking on a new form. I’ll use an example, I wanted to text a friend that I was: “Just heading off now”. I was in a rush, I was about a minute or two on the late side and I wrote the text out quickly. This, lead to me typing: “Just getting off now.”. Wonderful isn’t it.</div>

<div class="p1">Perfectly formed, our new error-ridden sentences are much harder to decipher and scan for errors. Mistyped words have no mistakes, no missing letters - it’s as if we’re not trained to spot errors of this kind. I guess in days gone by we would have seen each word as it was typed. During typing would normally be the best time to spot if you’re typing a completely different word…</div>
<p></p>
<div class="p1">These new ‘lazy’ methods remove that first microscopic proof reading we make - completely. Dictation is the worst, it’ll buffer your whole sentence before splurging the whole lot out, ready for more text. This means you just skim the <strong>whole </strong>sentence, rather than each word, often, in my case leading to some significant errors in my text.</div>

<div class="p1">I’m not saying this is a critical flaw, far from it, I love these new ways of typing. It’s just an observation of a change, a change that seems to require new skill in proof reading to fix.</div>
<p></p>
<p><strong>-charlie out-</strong></p>
