---
layout: post
title: Blogger and Back Again
date: 2013-04-01
tags:
- tumblr
- blogger
- schedule
- blog
tumblr_url: http://charlieegan3.tumblr.com/post/46799156843/blogger-and-back-again
---
<p><em>I’m back. (on tumblr)</em></p>
<p>I started this blogging lark on tumblr late last year only to quickly change to blogger - I had some weird obsession with SEO…</p>
<p>Those days are gone, a lot can change in a hundred posts. Now, if you don’t find me, then, you just don’t find me - and that’s that.</p>
<p>All the commotion over Google Reader recently set a few off on the gloomy “What’s next?” path. Blogger seemed to be a favorite. This worried me, so this might be me jumping ship (I scare easily).</p>
<p>Other reasons: Better mobile app, fresh look and social integration.</p>
<p>I’m also going to try and make the content more varied (make us of tumblr). I’m going to stick to one main post on Saturday - here’s my proposed new schedule.</p>
<ul>
<li><em>Monday - Instagram Photos from past week</em></li>
<li><em>Wednesday - Link</em></li>
<li><em>Friday - Misc (Music, Quote, Video…)</em></li>
<li><em>Saturday - Main Post</em></li>
</ul>
<p>Lets hope that fits.</p>
<p><strong>-charlie out-</strong></p>