---
layout: post
title: Whose bright idea was it to make this operating system open? - a meeting going
  on at Google right now.
date: '2013-04-05T08:29:00+01:00'
tags:
- Facebook
- Facebook home
- Google
- Android
tumblr_url: http://charlieegan3.tumblr.com/post/47178218523/whose-bright-idea-was-it-to-make-this-operating
---
<blockquote>Whose bright idea was it to make this operating system open? - a meeting going on at Google right now.</blockquote>&#8212;Aaron Levie (<a href="https://twitter.com/levie/status/319868445166538755" target="_blank">https://twitter.com/levie/status/319868445166538755</a>)
