---
layout: post
title: Blogger and Back Again
date: 2013-04-01
tags:
- tumblr
- blogger
- schedule
- blog
tumblr_url: http://charlieegan3.tumblr.com/post/46799156843/blogger-and-back-again
---
<p><em>I&rsquo;m back. (on tumblr)</em></p>
<p>I started this blogging lark on tumblr late last year only to quickly change to blogger - I had some weird obsession with SEO&hellip;</p>
<p>Those days are gone, a lot can change in a hundred posts. Now, if you don&rsquo;t find me, then, you just don&rsquo;t find me - and that&rsquo;s that.</p>
<p>All the commotion over Google Reader recently set a few off on the gloomy &ldquo;What&rsquo;s next?&rdquo; path. Blogger seemed to be a favorite. This worried me, so this might be me jumping ship (I scare easily).</p>
<p>Other reasons: Better mobile app, fresh look and social integration.</p>
<p>I&rsquo;m also going to try and make the content more varied (make us of tumblr). I&rsquo;m going to stick to one main post on Saturday - here&rsquo;s my proposed new schedule.</p>
<ul><li><em><span>Monday - Instagram Photos from past week</span></em></li>
<li><em><span>Wednesday - Link</span></em></li>
<li><em><span>Friday - Misc (Music, Quote, Video&hellip;)</span></em></li>
<li><em><span>Saturday - Main Post</span></em></li>
</ul><p><span>Lets hope that fits.</span></p>
<p><strong><span>-charlie out-</span></strong></p>
