---
layout: post
title: Secured Position?
date: '2013-02-02T00:30:00+00:00'
tags:
- tech
- employment
- forbes
- internship
- the onion
tumblr_url: http://charlieegan3.tumblr.com/post/46786146473/secured-position
---
<p>I follow both <a href="https://twitter.com/Forbes" target="_blank">Forbes</a> and <a href="https://twitter.com/TheOnion" target="_blank">The Onion</a> on Twitter, last week two stories from both sites seemed to go nicely together. From Forbes was one about <a href="http://www.forbes.com/sites/jacquelynsmith/2013/01/25/the-best-paying-tech-companies-for-interns/" target="_blank">top paying tech internships</a>. The Onion was a joke about a <a href="http://www.theonion.com/articles/22yearold-gets-job-at-website,31002/" target="_blank">22-year old getting a job</a> at a website. Their combined message was quite an interesting one.</p>
<blockquote>“I am eager to begin my career working at this website,” said the white male in his 20s, who secured his position after graduating from a four-year educational program at an accredited university.</blockquote>
<p>Such a common story? Perhaps it is, I really have no idea on the exact statistics but it got me thinking about whether or not the degree alone is really be enough these days. Especially if the companies are paying what they do for interns they must be looking for something a little more just a degree.</p>
<p>There must be a reason that companies want to pay up to $6536 (£4136) per month - interns must be very valuable indeed. And, certainly from what I’ve seen so far, while a degree is a good grounding, I fail to see how it alone makes graduates worth such a high price.</p>
<strong>-charlie out-</strong>
