---
layout: post
title: "@Instagram: First Impressions"
date: '2013-02-17T00:30:00+00:00'
tags:
- twitter
- photography
- Instagram
- social networking
tumblr_url: http://charlieegan3.tumblr.com/post/46786184962/instagram-first-impressions
---
<p><br/>I mentioned a few <a href="http://www.charlieegan3.com/2013/02/photos-revisited.html" target="_blank">posts</a> back that I was going to try and get back into taking some photos again - mainly just a a little log of where I&rsquo;ve been. I&rsquo;ve been using Instagram, it&rsquo;s a new one for me and this is my experience so far.<br/><br/>I would describe Instagram as less functional Twitter of photos edited to how our mind sees them. Sounds rather daft but the effects are quite, prevalent shall we say! The effects often make the photos look for far from realistic but instead more arty and I would say as how we remember scenes. Take a nice sunset, (a subject the app is full of) how you remember is is different to how the photos look. Often the effects bring the the image closer to ones memory of the scene. I don&rsquo;t see this as a bad thing - some others do however…<br/><br/>Instagram gets a bad rap but I think it&rsquo;s quite a good service. I like, for the same reason I like Twitter, that it&rsquo;s totally public and you know that from the word go. No complex privacy settings to bother with. It&rsquo;s definitely Twitter inspired and the app plays quite similarly. Both very well.<br/><br/>I&rsquo;ve found that tags really give you a big response on a new photo - not sure if that&rsquo;s good as it gives the chance for bogus tags which are, without a doubt, a bad thing. Still I don&rsquo;t really search for images and so aren&rsquo;t a victim of that - also I don&rsquo;t over tag my photos and I get a couple of likes on my photos all the same.<br/><br/>In terms of content quality, the range is huge. For every professional there are ten, meme-posting teens. It doesn&rsquo;t bother me - I just wonder why someone wouldn&rsquo;t want to post there own pictures? That&rsquo;s how I&rsquo;ve enjoy using the service.<br/><br/><br/><b>-charlie out-</b></p>
