---
layout: post
title: Branch.com and Discourse.org
date: '2013-02-09T00:30:00+00:00'
tags:
- branch.com
- online forum
- discourse.org
- discussion
tumblr_url: http://charlieegan3.tumblr.com/post/46786165647/branch-com-and-discourse-org
---
<p>The topic of online discussion interests me greatly - there is just something so incredible it. Talk to who you want, about what interests you and in a way that you like. While I think there are probably enough <em>places</em> to take part in the discussion I think we need at least one more <em>method</em> of structuring that conversation. <a href="http://branch.com/" target="_blank">Branch.com</a> and <a href="http://discourse.org/" target="_blank">Discourse.org</a> both put forward offerings to achieve this - both are very different and, in my opinion, far from perfect.</p>
<p>Branch is perhaps the most ‘radical’ and looks almost totally different from the traditional, forum style layout. It’s about coming up with new ideas and linking to interesting stories (+getting ’<a href="http://bulletin.branch.com/post/40473589463/branch-opens-to-the-world" target="_blank">Highlights</a>’!). There are some <a href="http://branch.com/b/personal-biases-good-or-bad-for-social-product-design#6VabI2rkZtI" target="_blank">good topics</a> discussed and the quality is pretty high. However one crucial factor seems to be missing - the capability to talk with people you don’t know. Sounds pretty basic, however I would say it’s a deal breaker for me. You need to be invited to the branch and this feels awkward for some reason. It’s also really hard to 'discover’ topics and branches - like the index is still in implementation! There are 'Most Highlighted’ and recent discussions from people you follow but there is no search and not categorical organization other than groups which are relatively exclusive. Branch is a great idea but to me it falls at the 1st hurdle - surely these features are required in such a system? They're certainly on my list.</p>
<p>Discourse is a newer one for me. It’s pitched as more of a “vBulletin Killer” and aims to replace existing forums rather than offer an alternative (like Branch does). It also has <a href="http://meta.discourse.org/t/how-to-arrive-at-a-conclusion/1178" target="_blank">quality discussion</a> but it is certainly closer to the frivolity of forums. Also most of the discussion is about the system itself due to it being an actual product to buy rather than a product in it’s existing state. There are many shorter and less informed responses and there is a fair but of spam from people trying out the system (I guess interested clients). It’s very well made and excels in some areas that Branch fails in such as <a href="http://meta.discourse.org/categories" target="_blank">discovery</a>. I think it’s still far from the perfect conversational structure however.</p>
<p>These are actually the type of system that I’d like to have a go at building myself - one day.</p>
<strong>-charlie out-</strong>