---
layout: post
title: Tools of the Trade
date: '2013-08-10T01:02:54+01:00'
tags: []
tumblr_url: http://charlieegan3.tumblr.com/post/57833622053/tools-of-the-trade
---
<p>Programs that help lighten the load:</p>

<h2>Acronis TrueImage Plus Pack</h2>
<p>A common request at the shop is: “I want a new computer <em>exactly</em> like my old computer - only faster”. This would not be economically possible if it weren’t for Acronis TrueImage with plus pack. This has one crucial feature: disk restore <em>with a driver scan. </em>This means you can keep all the same data, <em>programs, licensees and settings.</em> While still pulling in new drivers to run them in the new environment - smart data migration if you like. ‘Universal Restore’, as it’s called, has made many a happy customer.</p>

<h2>Produkey</h2>
<p>I don’t trust licences - they’re an almighty pain. Produkey solves that - it pulls them out of the debris and saves a simple text file. Need to re-activate office? No problem. There are no other tools that do this so quickly and effectively.</p>

<h2>WhoCrashed</h2>
<p><strong></strong>Don’t have the time to read ntbtlog.txt? No problem, this one does that for you. The only pain is that it needs a to run in a Windows environment - so you’ll likely need to take the disk out.</p>

<h2>Wise Portable Registry Cleaner</h2>
<p>It’s portable. It doesn’t leave remnants and popups on users computers. That’s good enough. Not to mention that it’s a pretty thorough registry cleaner too. It’s fun to tell people you single handedly fixed <em>1500 </em>registry errors!</p>

<h2>Autoruns</h2>
<p>An <strong>essential</strong>! An absolute must. This is the first stop in the tune up routine. Get rid of auto starting bloatware - fast! It’s easy to clean out everything from scheduled tasks to hidden startup processes. You’ll find you can easily create Blue Screens if you’re not careful so don’t go overboard. Also, some actually like the 'Ask Toolbar Updater’ - watch out for that too.</p>

<h2>driveridentifier.com</h2>
<p>A catalogue of links to the source - it’s free to download directly from the manufactures. Solves the serious problem of maze-like OEM support sites. Note - <em>it’s not pretty</em>, but also, and more importantly, not a scam.</p>

<h2>Ninite</h2>
<p>Install the essentials in on fell swoop. Update java, flash - the lot all in a oner. It’s a really handy one for setting up new PC’s. I only wish it had even more options - it’d be nice to have ESET in the AV list of options.</p>

<h2>GetDataBack</h2>
<p>It’s not cheap but can help generate very happy customers! It scans for lost data and does an incredible job of recovering dead fragments. The only downside is the cost - it’s about £140…</p>
<hr/>
<p>So there you have it - a list of incredible tools for setting up and fixing computer problems to add to the old favourites.</p>
