---
layout: post
title: Teaching Computing
date: '2014-11-03T23:01:00+00:00'
tags:
- computing
- computing science
- education
- scotland
- information systems
tumblr_url: http://charlieegan3.tumblr.com/post/101708435789/teaching-computing
---
<p>This is a response to a <a href="http://computingandbusiness.blogspot.co.uk/2014/10/sqas-mistake.html" target="_blank">post</a> by a friend of mine, Alex Sharpe.</p>
<p>I agree with Alex on a basic level: a reduction in Computing courses in the SQA diet is a step in the wrong direction. I do however reject the idea that Information Systems was a really great subject and certainly wasn’t one I feel in love with.</p>
<p>I think there should be two courses at the Higher and Advanced Higher Levels, but not Computing and Informations Systems. Here’s my proposal:</p>
<p><strong>Course 1:</strong> Computer Science</p>
<ul>
<li>Combinatorics, Logic, Algebra taught in the context of Computing</li>
<li>Practical programming exercises on those topics</li>
<li>Relational Database theory and practical work in SQL only</li>
<li>Computer Architecture module (updated) ideally with hardware practical work</li>
<li>Expert Systems and AI</li>
</ul>
<p><strong>Course 2:</strong> Software Engineering</p>
<ul>
<li>Consists of a number of simple programming projects covering a broad range of topics, ideally with a basic business case covered in parallel e.g.</li>
</ul>
<ul>
<li>Console Application, perhaps with hardware integration</li>
<li>Web Application, further practical exposure to databases</li>
<li>Complied Desktop/Mobile application</li>
<li>Video Game</li>
</ul>
<ul>
<li>Source Control and Social Coding should be covered</li>
<li>The exam would have <em>minimal wight</em> and cover design patterns and working processes only </li>
</ul>
<p>I feel this would cover the core areas of the existing Information Systems and Computing courses but also expose students to a greater &amp; more useful range of skills, topics and concepts.</p>
<p>This won’t happen though, largely due to teaching hurdles. You would <strong>need</strong> to have CS Grads with a teaching certificate in <em>all</em> schools, and that’s not going to happen.</p>
<p>Also, If you <strong><em>want</em></strong> to do business and computing, do business <em>AND</em> computing.</p>
<p>-charlie-</p>