---
layout: post
title: I Built a Gaming PC
date: '2014-01-31T12:18:22+00:00'
tags:
- pc
- gaming
- pc gaming
- dota 2
- assassin's creed
- halo
- xbox
- torchlight 2
- blacklight
- free to play
- microsoft
- '343'
- sony
- ps4
- xbox one
- pc build
- custom pc
- bittech
- pcpartpicker
tumblr_url: http://charlieegan3.tumblr.com/post/75144304805/i-built-a-gaming-pc
---
<p>I thought, seeing as the exams are over and I haven&rsquo;t posted in a very long time, that I&rsquo;d put something new up.</p>
<p>For a time last year I thought I&rsquo;d grown out of video games, it seems this is not the case! There just wasn&rsquo;t anything I really wanted to play. And now there is. Being a loyal xbox gamer the natural choice would be: Xbox One. It can play Titanfall, Witcher, TC The Divison and most importantly the next Halo game. Halo is my game, more specifically, Halo Reach was my game.</p>
<p>I&rsquo;ve now decided, after Halo-4-gate that I&rsquo;m not buying the next title off release. 343i have disappointed and they&rsquo;ve got to claw it back to bring me back. So as a protest of my frustration with Microsoft and 343i&rsquo;s abuse of a quality IP I left. I built a gaming PC and spent way too much money in the steam Christmas sale. I&rsquo;m not saying that I&rsquo;ll never go back, or take on both, just that I&rsquo;m no longer going to blindly support Xbox.</p>
<p>Both new consoles, that&rsquo;s right there are only two (side note, Nintendo need to get out of the hardware business and push their IPs to other platforms and distribution systems), failed to impress me. Neither has really pushed the boat out in terms of hardware and the launch titles were a bloody joke. I don&rsquo;t like Sony because of the Geohot fiasco and Microsoft for butchering Halo so I quit. Having Windows 8 on my pc is a necessary evil!</p>
<p>So <a href="http://uk.pcpartpicker.com/p/2xmMM" title="PC PartPicker List" target="_blank">here</a>&rsquo;s what I got myself, more than two consoles worth of parts.</p>
<p>Yeah, little overkill in some places and not enough in others but I wasn&rsquo;t keen to spend over a grand - the Gene and the 350D likely being the biggest luxuries.</p>
<p>I started out with Torchlight II, a top-down RPG, it was quite good fun and I played it for about 10 hours before I moved on temporarily. I found it was getting a little repetitive and seemed to require little skill. Player progression was a little boring and you tended to be better to level a single skill or weapon. I did like the visual style though, and it was admitted a good story with a wide range of play spaces. I will go back to it in time.</p>
<p>Following that I started messing around with free-to-play titles. I tried Blacklight and Planetside out and stuck with Blacklight. This was my first go with the WASD control method in a big way and while it was fun I found that years or console gaming had set me back. The community chants that it&rsquo;s <em>not pay to win</em> and it&rsquo;s not as bad as some there&rsquo;s certainly enough of that to put me off a little. It was a nice looking game but the micro transactions system was quite oddly laid out.</p>
<p>I then moved on to Assassins Creed IV. I got it free with my GTX 770 from Scan. The only issue initially was the 23GB download! It&rsquo;s the biggest download I&rsquo;ve ever completed. I&rsquo;m glad I can say it&rsquo;s been worth the wait. It&rsquo;s a really good looking game and I&rsquo;m getting good fun out of it. It did seem to break my computer a few times, and not through overheating. It was a really bizarre issue that I still don&rsquo;t quite understand, it appears to have been some driver issue. I&rsquo;m quite happy that after <a href="http://forums.bit-tech.net/showthread.php?p=3483715" title="bittech thread" target="_blank">much fiddling around</a> it seems to have gone away. Annoyingly I lost a 4 hour save and had to start again. I will make sure I still finish the main story at least and I have already started again.</p>
<p>For whatever reason I thought it was time to experiment yet again. I downloaded Dota 2. At the time of writing I&rsquo;ve only played 5 games but I am really starting to enjoy it. It&rsquo;s been quite overwhelming, there are just far to many things to think about as a beginner. Which hero is the major one, there are over 100 each ranked on about 10 very different and important attributes. Some are really item dependant, many are only for certain play styles and some that just aren&rsquo;t for noobs. They&rsquo;re well balanced but it seems everyone has different advice on the matter. It&rsquo;s a real minefield but one I&rsquo;m keen to puzzle out. It&rsquo;s crazy that it&rsquo;s free too, not really sure how Valve gets enough from it to make it worth their time.</p>
<p>So that&rsquo;s the story of my conversion to PC gaming, so far so good.</p>
