<p>Blog posts I've written over the years.</p>

<% page_articles(blog_name = 'blog').group_by { |a| a.date.strftime('%Y') }.to_a.each do |year, articles| %>
  <div class="row">
    <div class="col-md-12">
      <h2><%= year %></h2>
      <ul>
        <% articles.each do |article| %>
          <li>
            <%= link_to article.title, "/#{article.path}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<hr>

<% link_to "https://charlieegan3.com/feed.rss", target: "_blank" do %>
  RSS Feed
<% end %>
