<% content_for :page_title do %>
  <%= partial "partials/charlieegan3", locals: { color: "gold" } %>
<% end %>

<% content_for :page_subtitle do %>
  I present to you a long list of blog posts
<% end %>

<%= partial "partials/_top_menu" %>

<% page_articles(blog_name = 'blog').group_by { |a| a.date.strftime('%Y') }.to_a.each do |year, posts| %>
  <h2 class="f3 display b mh1-ns mb1">
    <%= year %>
  </h2>
  <div class="mh1-ns mb3">
    <%= partial("partials/_post_list", locals: { posts: posts, show_year: false }) %>
  </div>
<% end %>
