{{ define "title" }}
	Posts - {{ $.Site.Title -}}
{{ end }}

{{ define "description" }}
	{{ .Params.summary }}
{{ end }}

{{ define "main" }}
	<h1 class="moon-gray">{{ .Title | lower }}</h1>

	{{ range .Paginator.Pages }}
		<div>
			<h2 class="moon-gray mb0 f5">{{ .Title }}</h2>
			<p class="tj mb4 mt1 f6">
				{{ .Summary }}
				<a href="{{ .RelPermalink }}">View</a>
			</p>
		</div>
	{{ end }}

	{{ if gt .Paginator.PageNumber 1 }}
	<p class="f6 gray">Looking for something? try <a href="/search">search</a></p>
	{{ end }}

	{{ if gt .Paginator.TotalPages 1 }}
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}" aria-label="Previous">previous</a>
		{{ end }}
		{{ if .Paginator.HasNext }}
			<a class="fr" href="{{ .Paginator.Next.URL }}" aria-label="Next">next</a>
		{{ end }}
	{{ end }}
{{ end }}
