/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: black;
  color: DarkOrange;
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  width: 90%;
  display: inline-block;
  font-family: 'Offside';
  font-size: 1.7em;
}

h2 {
  font-size: 1.1em;
  font-family: 'Offside';
  margin-top: 30px;
}

.image-row {
  text-align: center;
}

.image-row img {
  width: 70px;
  margin: 2px;
  border-radius: 3px;
  border: 1px solid DarkOrange;
  display: inline;
}

.profile {
  width: 10%;
  float: right;
  padding-top: 35px;
  display: inline-block;
}

.profile img {
  width: 100%;
  border-radius: 3px;
  border: 1px solid DarkOrange;
}

.actions {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.action {
  width: 50%;
  display: inline-block;
}

.action img {
  width: 50px;
  opacity: 0.5;
  display: block;
  margin: 5px auto;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -khtml-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.action img:hover {
  opacity: 1;
}

.link-row {
  margin-top: 5px;
}

.link-row a {
  width: 33%;
  text-align: center;
  padding: 10px 0px;
  display: inline-block;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -khtml-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.link-row a:hover {
  color: white;
  background-color: DarkOrange;
  border-radius: 3px;
}

.linkedin {
  text-align: center;
  font-size: 0.7em;
}

.tweet {
  margin: 5px 0px;
}

.tweet a {
  color: #55acee;
}

.tweet, .post {
  font-size: 0.95em;
}

.tweet span, .post span {
  margin-left: 5px;
  font-size: 0.8em;
  color: black;
}

.post {
  color: Grey;
}

.post a {
  margin-right: 5px;
  color: #35465c;
}

@media (max-width: 700px) {
  .title {
    font-size: 1.1em;
  }

  .profile {
    display: none;
  }
}
