/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: black;
  color: DarkOrange;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.title {
  width: 90%;
  display: inline-block;
  font-family: 'Offside';
  font-size: 1.7em;
}

.profile {
  width: 10%;
  float: right;
  padding-top: 35px;
  display: inline-block;
}

.profile img {
  width: 100%;
}

.actions {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.action {
  width: 50%;
  display: inline-block;
}

.action img {
  width: 50px;
  opacity: 0.5;
  display: block;
  margin: 5px auto;
}

.images {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 5%;
}

.images img {
  width: 50px;
  display: block;
}

@media (max-width: 700px) {
  .container {
    margin-left: 50px;
    width: 85%;
    padding: 5px;
  }

  .title {
    font-size: 1.1em;
  }

  .profile {
    display: none;
  }
}
