/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: url('http://static.tumblr.com/b50bfec43d784434618fb949b70df17d/uzazc5e/iKdnco0pp/tumblr_static_eqen2wer3i8040ssksoww04ko.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}

.row {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap:1em;

  background-color: rgba(0, 0, 0, 0.7);

  padding-top: 10px;
}

.item {
  display: inline-block;
  padding:  .25rem;
  width:  100%;
}

.well {
  position:relative;
  display: block;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: white;
  border-width: 1px;
  -moz-box-shadow:    inset 0 0 2px black;
  -webkit-box-shadow: inset 0 0 2px black;
  box-shadow:         inset 0 0 2px black;
}

.well h4 {
  text-align: center;
}

.well a {
  color: white;
  text-decoration:none;
}

.well p {
  font-size: 0.9em;
  margin: 0px;
}

.image_well {
  padding: 0px;
}
.image_well img {
  width: 100%;
  border-radius: 3px;
}

.icon {
  display: block;
  margin: 5px auto;
  max-height: 20px;
}

.profile {
  margin-top: 30%;
  text-align: center;
}

.profile img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
}

.box {
  max-width: 960px;
  text-align: left;
  padding: 20px 10%;
  margin: 20px auto;
}

.box a {
  color: white;
  font-weight: bold;
  text-decoration:none;
}

.block {
  background-color: rgba(0, 0, 0, 0.8);
}

p.resume {
  text-align: center;
  margin-top: -10px;
}

img.resume {
  margin: 0 auto;
  display: block;
  max-height: 50px;
}

@media screen and (max-width: 532px) {
  .well {
    margin: 10px 20px;
  }
}
