---
layout: default
---
<div>
  <div class="block block0">
    <div class="container">
      <h1>@charlieegan3's blog</h1>
    </div>
  </div>
  <div class="block block1">
    <div class="container">
      <h1>{{ page.title }}</h1>
      <p>{{ page.date | date: "%b %-d, %Y" }}</p>
    </div>
  </div>
  <div class="block block2">
    <div class="container">
      <article>
        {{ content }}
      </article>
    </div>
  </div>
  <div class="block block3">
    <div class="container">
      <p>The End</p>
    </div>
  </div>

</div>
