---
highlight: green

menu_blocks:
- title: Work
  path: /work
- title: Projects
  path: /projects
- title: Blog
  path: /blog

menu_blocks_external:
- title: Photos
  url: https://photos.charlieegan3.com
- title: Music
  url: https://music.charlieegan3.com

subtitle: On weekdays, I run things on t'internet. I like walking quickly.

changefreq: daily
priority: 1
---

<% content_for :page_title do %>
  <span id="greeting" class="silver">Hello</span><span class="orange">,</span>
  <span class="gray">I<span class="blue">'</span>m</span>
  <%= partial "partials/charlieegan3", locals: { highlight: current_page.data.highlight } %>
<% end %>

<div class="cf mh1-ns">
  <div class="fl w-100 w-50-ns">
    <div class="mb3">
      <% current_page.data.menu_blocks.each do |menu_block| %>
        <% link_to menu_block[:path] do %>
          <div class="fl w-100 w-third-ns">
            <div class="display b f5 f4-l mr2-ns mb2 pv3 pv4-ns tc dark-gray ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
              <%= menu_block[:title] %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% current_page.data.menu_blocks_external.each do |menu_block| %>
        <% link_to menu_block[:url], target: "_blank" do %>
          <div class="fl w-100 w-third-ns mb3">
            <div class="display b f5 f4-l mr2-ns mb2 pv3 pv4-ns tc ba bw2 b--mid-gray bg-dark-gray light-gray bg-animate hover-bg-mid-gray">
              <%= menu_block[:title] %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="fl w-100">
      <div class="mr2-ns mb2 f7 f6-l">
        <table id="feed" class="w-100 o-40 hidden">
        </table>
      </div>
    </div>
  </div>

  <div class="fl w-100 w-50-ns">
    <div class="fr fl-l ml6-l w-100 mw5-ns">
      <%= partial "partials/contact_form" %>
    </div>
  </div>
</div>
