---
highlight: green

menu_blocks:
  - title: Work
    path: /work
  - title: Projects
    path: /projects
  - title: Speaking
    path: /speaking
  - title: Words
    path: /words

subtitle: On weekdays I make things for the internet. I like walking quickly.
---

<% content_for :page_title do %>
  <span id="greeting" class="silver">Hello</span><span class="orange">,</span>
  <span class="gray">I<span class="blue">'</span>m</span>
  <%= partial "partials/charlieegan3", locals: { highlight: current_page.data.highlight } %>
<% end %>

<div class="cf mh1-ns">
  <div class="fl w-100 w-50-ns display b">
    <% current_page.data.menu_blocks.each do |menu_block| %>
      <% link_to menu_block[:path] do %>
        <div class="fl w-100 w-50-ns">
          <div class="f5 f4-l mr2-ns mb2 pv3 pv4-ns tc dark-gray ba bw2 b--mid-gray bg-animate hover-bg-light-gray">
            <%= menu_block[:title] %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="fl w-100 w-50-ns">
    <div class="fr w-100 mw5-ns">
      <%= partial "partials/contact_form" %>
    </div>
  </div>
</div>
