.line
.row.live-block
  .spinner
    .rect1
    .rect2
    .rect3
    .rect4
      .rect5
  .col-md-12
    .row
      =partial('partials/live_row')
    p.text-center.live
      a href="/blog"
        | Blog
      |&nbsp;&nbsp;&nbsp;
      a href="/articles"
        | Articles
    p.text-center.live
      | Timeline

-page_articles(blog_name = 'timeline').group_by { |a| a.date.strftime('%Y') }.to_a.each_with_index do |year_articles, index|
  -year, articles = year_articles
  .row
    .col-md-2.col-md-offset-5.text-center
      p.year-label
        span.year-label =year
  .row
    -if articles.size > 1
      -[even_values(articles), odd_values(articles)].each_with_index do |group, i|
        .col-md-6
          -group.each do |article|
            .row class=(index > 0 ? 'later' : '')
              -size = article.metadata[:page][:width] || 12
              div class=(i == 0 && size < 12 ? "col-md-#{size.to_i} col-md-offset-#{12 - size.to_i}" : "col-md-#{size.to_i}")
                =partial("partials/" + article.metadata[:page][:type], locals: { article: article, index: i })
    -else
      .col-md-6.col-md-offset-3
        =partial("partials/" + articles.first.metadata[:page][:type], locals: { article: articles.first, index: 1 })
